{
  "runs": [
    {
      "name" : "periodic_massflow_mesh_ms",
      "input_script" : "in.periodic_bin_flow_ms",
      "type" : "serial",
      "data" : {
          "series" : [
            {"name" : "massflow1", "file" : "massflow1.txt", "columns" : ["t", "mass", "particles", "massrate", "particlerate"]},
            {"name" : "massflow2", "file" : "massflow2.txt", "columns" : ["t", "mass", "particles", "massrate", "particlerate"]}
          ],
          "plots" : [
            {"name" : "massflowmass", "title" : "Total Mass", "xdata" : "massflow1.t", "ydata" : ["massflow1.mass","massflow2.mass"], "xlabel" : "time [s]", "ylabel" : "mass [kg]", "legend" : ["upper plane","lower plane"]},
            {"name" : "massflowparticles", "title" : "Total Particles", "xdata" : "massflow1.t", "ydata" : ["massflow1.particles","massflow2.particles"], "xlabel" : "time [s]", "ylabel" : "particles [-]", "legend" : ["upper plane","lower plane"]},
            {"name" : "massflowmassrate", "title" : "Mass Flow Rate", "xdata" : "massflow1.t", "ydata" : ["massflow1.massrate","massflow2.massrate"], "xlabel" : "time [s]", "ylabel" : "mass flow rate [kg/s]", "legend" : ["upper plane","lower plane"]},
            {"name" : "massflowparticlerate", "title" : "Particle Rate", "xdata" : "massflow1.t", "ydata" : ["massflow1.particlerate","massflow2.particlerate"], "xlabel" : "time [s]", "ylabel" : "particle rate [1/s]", "legend" : ["upper plane","lower plane"]}
          ]
      }
    },
    {
      "name" : "periodic_massflow_mesh_ms_restart",
      "depends_on" : "periodic_massflow_mesh_ms",
      "input_script": "in.periodic_bin_flow_ms_restart",
      "type": "serial",
      "data" : {
          "series" : [
            {"name" : "massflow1", "file" : "massflow1.txt", "columns" : ["t", "mass", "particles", "massrate", "particlerate"]},
            {"name" : "massflow2", "file" : "massflow2.txt", "columns" : ["t", "mass", "particles", "massrate", "particlerate"]}
          ],
          "plots" : [
            {"name" : "massflowmass", "title" : "Total Mass", "xdata" : "massflow1.t", "ydata" : ["massflow1.mass","massflow2.mass"], "xlabel" : "time [s]", "ylabel" : "mass [kg]", "legend" : ["upper plane","lower plane"]},
            {"name" : "massflowparticles", "title" : "Total Particles", "xdata" : "massflow1.t", "ydata" : ["massflow1.particles","massflow2.particles"], "xlabel" : "time [s]", "ylabel" : "particles [-]", "legend" : ["upper plane","lower plane"]},
            {"name" : "massflowmassrate", "title" : "Mass Flow Rate", "xdata" : "massflow1.t", "ydata" : ["massflow1.massrate","massflow2.massrate"], "xlabel" : "time [s]", "ylabel" : "mass flow rate [kg/s]", "legend" : ["upper plane","lower plane"]},
            {"name" : "massflowparticlerate", "title" : "Particle Rate", "xdata" : "massflow1.t", "ydata" : ["massflow1.particlerate","massflow2.particlerate"], "xlabel" : "time [s]", "ylabel" : "particle rate [1/s]", "legend" : ["upper plane","lower plane"]}
          ]
      }
    }
  ]
}
