{
  "runs": [
    {
      "name" : "superquadric_pp_2_2_0",
      "input_script" : "in.particle_particle",
      "type" : "serial",
      "variables" : {
        "blockiness1" : 2,
        "blockiness2" : 2,
        "angle" : 0
      }
    },
    {
      "name" : "superquadric_pp_2_2_10",
      "based_on": "superquadric_pp_2_2_0",
      "variables" : {
        "blockiness1" : 2,
        "blockiness2" : 2,
        "angle" : 10
      }
    },
    {
      "name" : "superquadric_pp_4_2_0",
      "based_on": "superquadric_pp_2_2_0",
      "variables" : {
        "blockiness1" : 4,
        "blockiness2" : 2,
        "angle" : 0
      }
    },
    {
      "name" : "superquadric_pp_4_2_10",
      "based_on": "superquadric_pp_2_2_0",
      "variables" : {
        "blockiness1" : 4,
        "blockiness2" : 2,
        "angle" : 10
      }
    },
    {
      "name" : "superquadric_pp_4_4_0",
      "based_on": "superquadric_pp_2_2_0",
      "variables" : {
        "blockiness1" : 4,
        "blockiness2" : 4,
        "angle" : 0
      }
    },
    {
      "name" : "superquadric_pp_4_4_10",
      "based_on": "superquadric_pp_2_2_0",
      "variables" : {
        "blockiness1" : 4,
        "blockiness2" : 4,
        "angle" : 10
      }
    },
    {
      "name" : "superquadric_ppw_2_2_0",
      "input_script" : "in.particle_primitive_wall",
      "type" : "serial",
      "variables" : {
        "blockiness1" : 2,
        "blockiness2" : 2,
        "angle" : 0
      }
    },
    {
      "name" : "superquadric_ppw_2_2_10",
      "based_on": "superquadric_ppw_2_2_0",
      "variables" : {
        "blockiness1" : 2,
        "blockiness2" : 2,
        "angle" : 10
      }
    },
    {
      "name" : "superquadric_ppw_2_4_0",
      "based_on": "superquadric_ppw_2_2_0",
      "variables" : {
        "blockiness1" : 2,
        "blockiness2" : 4,
        "angle" : 0
      }
    },
    {
      "name" : "superquadric_ppw_2_4_10",
      "based_on": "superquadric_ppw_2_2_0",
      "variables" : {
        "blockiness1" : 2,
        "blockiness2" : 4,
        "angle" : 10
      }
    },
    {
      "name" : "superquadric_pmw_2_2_0",
      "input_script" : "in.particle_mesh_wall",
      "type" : "serial",
      "variables" : {
        "blockiness1" : 2,
        "blockiness2" : 2,
        "angle" : 0
      }
    },
    {
      "name" : "superquadric_pmw_2_2_10",
      "based_on": "superquadric_pmw_2_2_0",
      "variables" : {
        "blockiness1" : 2,
        "blockiness2" : 2,
        "angle" : 10
      }
    },
    {
      "name" : "superquadric_pmw_2_4_0",
      "based_on": "superquadric_pmw_2_2_0",
      "variables" : {
        "blockiness1" : 2,
        "blockiness2" : 4,
        "angle" : 0
      }
    },
    {
      "name" : "superquadric_pmw_2_4_10",
      "based_on": "superquadric_pmw_2_2_0",
      "variables" : {
        "blockiness1" : 2,
        "blockiness2" : 4,
        "angle" : 10
      }
    },
    {
      "name" : "superquadric_fill_2_2",
      "input_script" : "in.fill_cylinder",
      "type" : "serial",
      "variables" : {
        "blockiness1" : 2,
        "blockiness2" : 2
      }
    },
    {
      "name" : "superquadric_fill_4_2",
      "based_on": "superquadric_fill_2_2",
      "variables" : {
        "blockiness1" : 4,
        "blockiness2" : 2
      }
    },
    {
      "name" : "superquadric_fill_2_4",
      "based_on": "superquadric_fill_2_2",
      "variables" : {
        "blockiness1" : 2,
        "blockiness2" : 4
      }
    },
    {
      "name" : "superquadric_fill_4_4",
      "based_on": "superquadric_fill_2_2",
      "variables" : {
        "blockiness1" : 4,
        "blockiness2" : 4
      }
    }
  ]
}
