{
  "runs" : [
    {
      "name" : "openmp_np1_nt1_1x1x1_t50000_timed",
      "input_script" : "in_omp.boxInBox",
      "type" : "serial",
      "variables" : { 
        "PROCX" : 1, 
        "PROCY" : 1, 
        "PROCZ" : 1, 
        "NTHREADS" : 1
      }
    },
    {
      "name" : "openmp_np1_nt2_1x1x1_t50000_timed",
      "based_on" : "openmp_np1_nt1_1x1x1_t50000_timed",
      "variables" : { 
        "NTHREADS" : 2
      }
    },
    {
      "name" : "openmp_np1_nt4_1x1x1_t50000_timed",
      "based_on" : "openmp_np1_nt1_1x1x1_t50000_timed",
      "variables" : { 
        "NTHREADS" : 4
      }
    },
    {
      "name" : "openmp_np1_nt8_1x1x1_t50000_timed",
      "based_on" : "openmp_np1_nt1_1x1x1_t50000_timed",
      "variables" : { 
        "NTHREADS" : 8
      }
    },
    {
      "name" : "openmp_np1_nt16_1x1x1_t50000_timed",
      "based_on" : "openmp_np1_nt1_1x1x1_t50000_timed",
      "machines" : ["gollum32"],
      "variables" : { 
        "NTHREADS" : 16
      }
    },
    {
      "name" : "openmp_np1_nt32_1x1x1_t50000_timed",
      "based_on" : "openmp_np1_nt1_1x1x1_t50000_timed",
      "machines" : ["gollum32"],
      "variables" : { 
        "NTHREADS" : 32
      }
    }
  ]
}
