{
  "runs": [
    {
      "name" : "elastic_hooke_history_Al_oxide",
      "input_script" : "in.oblique_impact_on_wall",
      "type" : "serial",
      "variables" : {
        "NORMALMODEL" : "hooke",
        "TANGENTIALMODEL" : "history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "YOUNG" : 7.6e11,
        "POISSON" : 0.23,
        "DENSITY" : 4000
      },
      "data" : {
          "series" : [
            {"name" : "rebound", "file" : "hooke_rebound_properties.txt", "columns" : ["Theta", "et", "etlimit", "Omega", "Omegalimit", "PhiCOM", "Phi", "Philimit"]}
          ],
          "plots" : [
            {"name" : "reboundrestitution", "title" : "Tangential coeff. of restitution", "xdata" : "rebound.Theta", "ydata" : ["rebound.et","rebound.etlimit"], "xlabel" : "Incident angle", "ylabel" : "e_t", "legend" : ["et","etlimit"]},
            {"name" : "reboundomega", "title" : "Rebound angular velocity", "xdata" : "rebound.Theta", "ydata" : ["rebound.Omega","rebound.Omegalimit"], "xlabel" : "Incident angle", "ylabel" : "Rebound ang. vel.", "legend" : ["omegaxr","omegaxrlimit"]},
            {"name" : "reboundangle", "title" : "Rebound angle", "xdata" : "rebound.Theta", "ydata" : ["rebound.PhiCOM","rebound.Phi","rebound.Philimit"], "xlabel" : "Incident angle", "ylabel" : "Rebound angle", "legend" : ["phicom","phi","philimit"]}
          ]
      }
    },
    {
      "name" : "elastic_hertz_history_Al_oxide",
      "input_script" : "in.oblique_impact_on_wall",
      "type" : "serial",
      "variables" : {
        "NORMALMODEL" : "hertz",
        "TANGENTIALMODEL" : "history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "YOUNG" : 7.6e11,
        "POISSON" : 0.23,
        "DENSITY" : 4000
      },
      "data" : {
          "series" : [
            {"name" : "rebound", "file" : "hertz_rebound_properties.txt", "columns" : ["Theta", "et", "etlimit", "Omega", "Omegalimit", "PhiCOM", "Phi", "Philimit"]}
          ],
          "plots" : [
            {"name" : "reboundrestitution", "title" : "Tangential coeff. of restitution", "xdata" : "rebound.Theta", "ydata" : ["rebound.et","rebound.etlimit"], "xlabel" : "Incident angle", "ylabel" : "e_t", "legend" : ["et","etlimit"]},
            {"name" : "reboundomega", "title" : "Rebound angular velocity", "xdata" : "rebound.Theta", "ydata" : ["rebound.Omega","rebound.Omegalimit"], "xlabel" : "Incident angle", "ylabel" : "Rebound ang. vel.", "legend" : ["omegaxr","omegaxrlimit"]},
            {"name" : "reboundangle", "title" : "Rebound angle", "xdata" : "rebound.Theta", "ydata" : ["rebound.PhiCOM","rebound.Phi","rebound.Philimit"], "xlabel" : "Incident angle", "ylabel" : "Rebound angle", "legend" : ["phicom","phi","philimit"]}
          ]
      }
    },
    {
      "name" : "elastic_hooke_incremental_history_Al_oxide",
      "based_on": "elastic_hooke_history_Al_oxide",
      "variables" : {
        "NORMALMODEL" : "hooke",
        "TANGENTIALMODEL" : "incremental_history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "YOUNG" : 7.6e11,
        "POISSON" : 0.23,
        "DENSITY" : 4000
      }
    },
    {
      "name" : "elastic_hertz_incremental_history_Al_oxide",
      "based_on": "elastic_hertz_history_Al_oxide",
      "variables" : {
        "NORMALMODEL" : "hertz",
        "TANGENTIALMODEL" : "incremental_history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "YOUNG" : 7.6e11,
        "POISSON" : 0.23,
        "DENSITY" : 4000
      }
    },
    {
      "name" : "elastic_hooke_history_Al_alloy",
      "based_on": "elastic_hooke_history_Al_oxide",
      "variables" : {
        "NORMALMODEL" : "hooke",
        "TANGENTIALMODEL" : "history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "YOUNG" : 1.4e11,
        "POISSON" : 0.33,
        "DENSITY" : 2700
      }
    },
    {
      "name" : "elastic_hertz_history_Al_alloy",
      "based_on": "elastic_hertz_history_Al_oxide",
      "variables" : {
        "NORMALMODEL" : "hertz",
        "TANGENTIALMODEL" : "history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "YOUNG" : 1.4e11,
        "POISSON" : 0.33,
        "DENSITY" : 2700
      }
    }
  ]
}
