{
  "runs": [
    {
      "name" : "openmp_nt8_init",
      "input_script" : "in_omp.mixer_init",
      "type" : "serial",
      "variables" : { "INSERT_TIMESTEPS" : 50000, "TOTAL_TIMESTEPS" : 100000,
                      "XPROC" : 1, "YPROC" : 1, "ZPROC" : 1, "IJK" : "xyz",
                      "NTHREADS" : 8 }
    },
    {
      "name": "openmp_np1_nt1_1x1x1_x_t50000_timed",
      "depends_on": "openmp_nt8_init",
      "input_script": "in_omp.mixer_run",
      "machines": [
          "gollum32"
      ],
      "type": "mpi",
      "nprocs": 1,
      "variables": {
          "IJK": "xyz",
          "INSERT_TIMESTEPS": 50000,
          "LB": 0,
          "LB_DIM": "x",
          "NTHREADS": 1,
          "TOTAL_TIMESTEPS": 100000,
          "XPROC": 1,
          "YPROC": 1,
          "ZPROC": 1
      }
    },
    {
      "name": "openmp_np1_nt2_1x1x1_x_t50000_timed",
      "based_on": "openmp_np1_nt1_1x1x1_x_t50000_timed",
      "variables": {
          "NTHREADS": 2
      }
    },
    {
      "name": "openmp_np1_nt4_1x1x1_x_t50000_timed",
      "based_on": "openmp_np1_nt1_1x1x1_x_t50000_timed",
      "variables": {
          "NTHREADS": 4
      }
    },
    {
      "name": "openmp_np1_nt8_1x1x1_x_t50000_timed",
      "based_on": "openmp_np1_nt1_1x1x1_x_t50000_timed",
      "variables": {
          "NTHREADS": 8
      }
    },
    {
      "name": "openmp_np1_nt16_1x1x1_x_t50000_timed",
      "based_on": "openmp_np1_nt1_1x1x1_x_t50000_timed",
      "variables": {
          "NTHREADS": 16
      }
    },
    {
      "name": "openmp_np1_nt32_1x1x1_x_t50000_timed",
      "based_on": "openmp_np1_nt1_1x1x1_x_t50000_timed",
      "variables": {
          "NTHREADS": 32
      }
    }
  ]
}
