{
  "runs": [
    {
      "name" : "mpi_np4",
      "input_script" : "in.smallParticles",
      "type" : "mpi",
      "nprocs" : 4,
      "data" : {
          "series" : [
            {"name" : "velocity", "file" : "vave.txt", "columns" : ["t", "vave"]}
          ],
          "plots" : [
            {"name" : "velocity", "title" : "Average Particle Velocity", "xdata" : "velocity.t", "ydata" : ["velocity.vave"], "xlabel" : "time [s]", "ylabel" : "velocity [m/s]", "legend" : ["average velocity"]}
          ]
      }
    },
    {
      "name" : "mpi_np4_willett",
      "input_script" : "in.smallParticlesWillett",
      "type" : "mpi",
      "nprocs" : 4,
      "data" : {
          "series" : [
            {"name" : "velocity", "file" : "vave.txt", "columns" : ["t", "vave"]}
          ],
          "plots" : [
            {"name" : "velocity", "title" : "Average Particle Velocity", "xdata" : "velocity.t", "ydata" : ["velocity.vave"], "xlabel" : "time [s]", "ylabel" : "velocity [m/s]", "legend" : ["average velocity"]}
          ]
      }
    }
  ]
}
