{
  "runs": [
    {
      "name" : "init",
      "input_script" : "in.liggghts_init",
      "type" : "mpi",
      "nprocs" : 4
    },
    {
      "name" : "restart_nocohesion",
      "input_script" : "in.liggghts_resume_delete",
      "type" : "mpi",
      "nprocs" : 4,
      "depends_on" : "init"
    }
  ]
}
