{ "runs" : [
    {
      "name" : "pack_dense",
      "input_script" : "in.pack_dense",
      "type" : "serial",
      "variables" : { "REGIONSIZE": 0.2, "VOLUMEFRACTION": 0.4 }
    },
    {
      "name" : "pack_dense_mesh",
      "input_script" : "in.test_meshregion",
      "type" : "serial",
      "variables": { "r_part": 0.02 }
    }
  ]
}
