{
  "runs": [
    {
      "name" : "serial",
      "input_script" : "in.sph_1",
      "type" : "serial",
      "data" : {
          "series" : [
            {"name" : "force_mesh", "file" : "force_meshwall.txt", "columns" : ["t", "Fx", "Fy", "Fz"]}
          ],
          "plots" : [
            {"name" : "force_mesh", "title" : "Average Particle Force", "xdata" : "force_mesh.t", "ydata" : ["force_mesh.Fx","force_mesh.Fy","force_mesh.Fz"], "xlabel" : "time [s]", "ylabel" : "force [N]", "legend" : ["fx","fy","fz"]}
          ]
      }
    }
  ]
}
