{
  "runs": [
    {
      "name" : "serial",
      "input_script" : "in.epsd_tc1",
      "type" : "serial",
      "post_scripts" : ["readLogData.m", "plotData.m"],
      "data" : {
          "series" : [
            {"name" : "pos_trq", "file" : "tc1_plot_1.txt", "columns" : ["t", "position", "torque"]}
          ],
          "plots" : [
            {"name" : "position", "title" : "Position", "xdata" : "pos_trq.t", "ydata" : ["pos_trq.position"], "xlabel" : "time [s]", "ylabel" : "x-position [m]", "legend" : ["x-position (particle)"]},
            {"name" : "torque", "title" : "Torque", "xdata" : "pos_trq.t", "ydata" : ["pos_trq.torque"], "xlabel" : "time [s]", "ylabel" : "torque [Nm]", "legend" : ["torque (particle)"]}
          ]
      }
    }
  ]
}
