{
  "runs": [
    {
      "name" : "remove_delete_partial",
      "input_script" : "in.remove_delete",
      "type" : "serial",
      "variables" : {
        "MASSRATE" : 7.0
      }
    },
    {
      "name" : "remove_delete_all",
      "input_script" : "in.remove_delete",
      "type" : "serial",
      "variables" : {
        "MASSRATE" : 14.0
      }
    }
  ]
}
