{
  "runs" : [
    {
      "name" : "mpi_np1_1x1x1_t50000_timed",
      "input_script" : "in.boxInBox",
      "type" : "mpi",
      "nprocs" : 1,
      "variables" : {
          "PROCX" : 1,
          "PROCY" : 1,
          "PROCZ" : 1,
          "LB": 0,
          "LB_DIM": "z"
      }
    },
    {
      "name" : "mpi_np2_2x1x1_t50000_timed",
      "based_on" : "mpi_np1_1x1x1_t50000_timed",
      "nprocs" : 2,
      "variables" : {
        "PROCX" : 2,
        "PROCY" : 1,
        "PROCZ" : 1,
        "LB": 1,
        "LB_DIM": "x"
      }
    },
    {
      "name" : "mpi_np2_1x1x2_t50000_timed",
      "based_on" : "mpi_np1_1x1x1_t50000_timed",
      "nprocs" : 2,
      "variables" : {
        "PROCX" : 1,
        "PROCY" : 1,
        "PROCZ" : 2,
        "LB": 1,
        "LB_DIM": "z"
      }
    },
    {
      "name" : "mpi_np4_2x2x1_t50000_timed",
      "based_on" : "mpi_np1_1x1x1_t50000_timed",
      "nprocs" : 4,
      "variables" : {
        "PROCX" : 2,
        "PROCY" : 2,
        "PROCZ" : 1
      }
    },
    {
      "name" : "mpi_np4_2x1x2_t50000_timed",
      "based_on" : "mpi_np1_1x1x1_t50000_timed",
      "nprocs" : 4,
      "variables" : {
        "PROCX" : 2,
        "PROCY" : 1,
        "PROCZ" : 2,
        "LB" : 1,
        "LB_DIM": "xz"
      }
    },
    {
      "name" : "mpi_np8_2x2x2_t50000_timed",
      "based_on" : "mpi_np1_1x1x1_t50000_timed",
      "nprocs" : 8,
      "variables" : {
        "PROCX" : 2,
        "PROCY" : 2,
        "PROCZ" : 2,
        "LB" : 1,
        "LB_DIM": "z"
      }
    },
    {
      "name" : "mpi_np8_4x2x1_t50000_timed",
      "based_on" : "mpi_np1_1x1x1_t50000_timed",
      "nprocs" : 8,
      "variables" : {
        "PROCX" : 4,
        "PROCY" : 2,
        "PROCZ" : 1,
        "LB" : 1,
        "LB_DIM": "xy"
      }
    },
    {
      "name" : "mpi_np16_2x2x4_t50000_timed",
      "based_on" : "mpi_np1_1x1x1_t50000_timed",
      "nprocs" : 16,
      "variables" : {
        "PROCX" : 2,
        "PROCY" : 2,
        "PROCZ" : 4,
        "LB" : 1,
        "LB_DIM": "z"
      }
    },
    {
      "name" : "mpi_np16_4x4x1_t50000_timed",
      "based_on" : "mpi_np1_1x1x1_t50000_timed",
      "nprocs" : 16,
      "variables" : {
        "PROCX" : 4,
        "PROCY" : 4,
        "PROCZ" : 1,
        "LB" : 1,
        "LB_DIM": "xy"
      }
    },
    {
      "name" : "mpi_np32_4x4x2_LB_z_t50000_timed",
      "based_on" : "mpi_np1_1x1x1_t50000_timed",
      "nprocs" : 32,
      "variables" : {
        "PROCX" : 4,
        "PROCY" : 4,
        "PROCZ" : 2,
        "LB" : 1,
        "LB_DIM": "z"
      }
    },
    {
      "name" : "mpi_np32_4x4x2_LB_xyz_t50000_timed",
      "based_on" : "mpi_np1_1x1x1_t50000_timed",
      "nprocs" : 32,
      "variables" : {
        "PROCX" : 4,
        "PROCY" : 4,
        "PROCZ" : 2,
        "LB" : 1,
        "LB_DIM": "xyz"
      }
    },
    {
      "name" : "mpi_np32_4x4x2_no_LB_t50000_timed",
      "based_on" : "mpi_np1_1x1x1_t50000_timed",
      "nprocs" : 32,
      "variables" : {
        "PROCX" : 4,
        "PROCY" : 4,
        "PROCZ" : 2,
        "LB" : 0,
        "LB_DIM": "xyz"
      }
    },
    {
      "name" : "mpi_np32_2x2x8_LB_z_t50000_timed",
      "based_on" : "mpi_np1_1x1x1_t50000_timed",
      "nprocs" : 32,
      "variables" : {
        "PROCX" : 2,
        "PROCY" : 2,
        "PROCZ" : 8,
        "LB" : 1,
        "LB_DIM": "z"
      }
    },
    {
      "name" : "mpi_np32_2x2x8_LB_xyz_t50000_timed",
      "based_on" : "mpi_np1_1x1x1_t50000_timed",
      "nprocs" : 32,
      "variables" : {
        "PROCX" : 2,
        "PROCY" : 2,
        "PROCZ" : 8,
        "LB" : 1,
        "LB_DIM": "xyz"
      }
    },
    {
      "name" : "mpi_np32_2x2x8_no_LB_t50000_timed",
      "based_on" : "mpi_np1_1x1x1_t50000_timed",
      "nprocs" : 32,
      "variables" : {
        "PROCX" : 2,
        "PROCY" : 2,
        "PROCZ" : 8,
        "LB" : 0,
        "LB_DIM": "xyz"
      }
    }
  ]
}
