{
  "runs": [
    {
      "name" : "mpi_np2",
      "input_script" : "in.servoWall",
      "type" : "mpi",
      "nprocs" : 2,
      "post_scripts" : ["readLogData.m","plotForce.m"],
      "data" : {
          "series" : [
            {"name" : "position", "file" : "pos1.txt", "columns" : ["t", "position"]},
            {"name" : "velocity", "file" : "vel1.txt", "columns" : ["t", "velocity"]},
            {"name" : "sigmaZ", "file" : "sigmaZ1.txt", "columns" : ["t", "sigmaZ"]}
          ],
          "plots" : [
            {"name" : "position", "title" : "Position", "xdata" : "position.t", "ydata" : ["position.position"], "xlabel" : "time [s]", "ylabel" : "position [m]", "legend" : ["position (servo plate)"]},
            {"name" : "velocity", "title" : "Velocity", "xdata" : "velocity.t", "ydata" : ["velocity.velocity"], "xlabel" : "time [s]", "ylabel" : "velocity [m/s]", "legend" : ["velocity (servo plate)"]},
            {"name" : "sigmaZ", "title" : "Principal stress in z-direction", "xdata" : "sigmaZ.t", "ydata" : ["sigmaZ.sigmaZ"], "xlabel" : "time [s]", "ylabel" : "sigma_z [Pa]", "legend" : ["sigmaZ (servo plate)"]}
          ]
      }
    }
  ]
}
