{
  "runs": [
    {
      "name" : "elastic_hooke",
      "input_script" : "in.oblique_impact_on_wall",
      "type" : "serial",
      "variables" : {
        "NORMALMODEL" : "hooke",
        "TANGENTIALMODEL" : "history",
        "MODELOPTION" : "ktToKnUser",
        "MODELOPTIONSETTING" : "on",
        "RESTITUTION" : 1.0
      },
      "post_scripts" : ["processData.m"],
      "data" : {
          "series" : [
            {"name" : "rebound", "file" : "hooke_rebound_properties.txt", "columns" : ["Theta", "SurfVel", "Omega", "et"]},
            {"name" : "displace", "file" : "force_displacement.txt", "columns" : ["deltat", "Ft"]}
          ],
          "plots" : [
            {"name" : "reboundsurfvel", "title" : "Normalized rebound surface velocity", "xdata" : "rebound.Theta", "ydata" : ["rebound.SurfVel"], "xlabel" : "Normalized impact angle", "ylabel" : "Norm. rebound surf. vel.", "legend" : ["vtr"]},
            {"name" : "reboundomega", "title" : "Normalized rebound angular velocity", "xdata" : "rebound.Theta", "ydata" : ["rebound.Omega"], "xlabel" : "Normalized impact angle", "ylabel" : "Norm. rebound ang. vel.", "legend" : ["omegaxr"]},
            {"name" : "reboundrestitution", "title" : "Tangential coeff. of restitution", "xdata" : "rebound.Theta", "ydata" : ["rebound.et"], "xlabel" : "Normalized impact angle", "ylabel" : "e_t", "legend" : ["et"]},
            {"name" : "displacedelta", "title" : "Tangential force-displacement", "xdata" : "displace.deltat", "ydata" : ["displace.Ft"], "xlabel" : "Tangential displacement [um]", "ylabel" : "Tangential force [N]", "legend" : ["Ft"]}
          ]
      }
    },
    {
      "name" : "elastic_hertz",
      "input_script" : "in.oblique_impact_on_wall",
      "type" : "serial",
      "variables" : {
        "NORMALMODEL" : "hertz",
        "TANGENTIALMODEL" : "history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "RESTITUTION" : 1.0
      },
      "post_scripts" : ["processData.m"],
      "data" : {
          "series" : [
            {"name" : "rebound", "file" : "hertz_rebound_properties.txt", "columns" : ["Theta", "SurfVel", "Omega", "et"]},
            {"name" : "displace", "file" : "force_displacement.txt", "columns" : ["deltat", "Ft"]}
          ],
          "plots" : [
            {"name" : "reboundsurfvel", "title" : "Normalized rebound surface velocity", "xdata" : "rebound.Theta", "ydata" : ["rebound.SurfVel"], "xlabel" : "Normalized impact angle", "ylabel" : "Norm. rebound surf. vel.", "legend" : ["vtr"]},
            {"name" : "reboundomega", "title" : "Normalized rebound angular velocity", "xdata" : "rebound.Theta", "ydata" : ["rebound.Omega"], "xlabel" : "Normalized impact angle", "ylabel" : "Norm. rebound ang. vel.", "legend" : ["omegaxr"]},
            {"name" : "reboundrestitution", "title" : "Tangential coeff. of restitution", "xdata" : "rebound.Theta", "ydata" : ["rebound.et"], "xlabel" : "Normalized impact angle", "ylabel" : "e_t", "legend" : ["et"]},
            {"name" : "displacedelta", "title" : "Tangential force-displacement", "xdata" : "displace.deltat", "ydata" : ["displace.Ft"], "xlabel" : "Tangential displacement [um]", "ylabel" : "Tangential force [N]", "legend" : ["Ft"]}
          ]
      }
    }
  ]
}
