{
  "runs" : [
    {
      "name" : "rotary_kiln_init",
      "input_script" : "in.rotaryKiln_init",
      "type" : "mpi",
      "nprocs" : 4
    },
    {
      "name" : "rotary_kiln_run_np1",
      "input_script" : "in.rotaryKiln_run",
      "depends_on" : "rotary_kiln_init",
      "type" : "mpi",
      "nprocs" : 1
    },
    {
      "name" : "rotary_kiln_run_np2",
      "input_script" : "in.rotaryKiln_run",
      "depends_on" : "rotary_kiln_init",
      "type" : "mpi",
      "nprocs" : 2
    },
    {
      "name" : "rotary_kiln_run_np4",
      "input_script" : "in.rotaryKiln_run",
      "depends_on" : "rotary_kiln_init",
      "type" : "mpi",
      "nprocs" : 4
    },
    {
      "name" : "rotary_kiln_run_np8",
      "input_script" : "in.rotaryKiln_run",
      "depends_on" : "rotary_kiln_init",
      "type" : "mpi",
      "nprocs" : 8
    }
  ]
}
