{
  "runs": [
    {
      "name" : "multisphere_mpi_np2",
      "input_script" : "in.multisphere",
      "type" : "mpi",
      "nprocs" : 2
    },
    {
      "name" : "sphere_mpi_np2",
      "input_script" : "in.singlesphere",
      "type" : "mpi",
      "nprocs" : 2
    },
    {
      "name" : "cornerghost_mpi_np8",
      "input_script" : "in.cornerghost",
      "type" : "mpi",
      "nprocs" : 8
    }
  ]
}
