{ "runs" : [
    {
      "name" : "prepare_1500k",
      "input_script" : "in.funnel_init",
      "type" : "mpi",
      "nprocs" : 8,
      "variables" : { "PROCX" : 1, "PROCY" : 1, "PROCZ" : 8, "NPARTICLES" : 1500000, "LB" : 1 }
    },
    {
      "name": "hybrid_np2_nt8_2x1x1_x_t100000_timed",
      "additional_files": [
          "myrankfile",
          "myhostfile"
      ],
      "depends_on" : "prepare_1500k",
      "input_script": "in_omp_weights.funnel_run",
      "machines": [
          "gollum32"
      ],
      "mpi_options": [
          "-report-bindings",
          "-hostfile myhostfile",
          "-np 2",
          "-rf myrankfile"
      ],
      "required_resources": [
          "33"
      ],
      "type": "mpi/custom",
      "variables": {
          "LB": 1,
          "LB_DIM" : "x",
          "NPARTICLES": 1500000,
          "PROCX": 2,
          "PROCY": 1,
          "PROCZ": 1,
          "NTHREADS": 8,
          "TIMESTEPS" : 100000
      }
    },
    {
      "name": "hybrid_np2_nt8_1x1x2_z_t100000_timed",
      "based_on": "hybrid_np2_nt8_2x1x1_x_t100000_timed",
      "variables": {
          "LB_DIM" : "z",
          "PROCX": 1,
          "PROCY": 1,
          "PROCZ": 2,
          "NTHREADS": 8
      }
    },
    {
      "name": "hybrid_np4_nt4_2x2x1_xy_t100000_timed",
      "based_on": "hybrid_np2_nt8_2x1x1_x_t100000_timed",
      "based_on": "hybrid_np2_nt8_2x1x1_x_t100000_timed",
      "mpi_options": [
          "-report-bindings",
          "-hostfile myhostfile",
          "-np 4",
          "-rf myrankfile"
      ],
      "variables": {
          "LB_DIM" : "xy",
          "PROCX": 2,
          "PROCY": 2,
          "PROCZ": 1,
          "NTHREADS": 4
      }
    },
    {
      "name": "hybrid_np4_nt8_2x2x1_xy_t100000_timed",
      "based_on": "hybrid_np4_nt4_2x2x1_xy_t100000_timed",
      "variables": {
          "NTHREADS": 8
      }
    },
    {
      "name": "hybrid_np4_nt8_2x1x2_z_t100000_timed",
      "based_on": "hybrid_np4_nt4_2x2x1_xy_t100000_timed",
      "variables": {
          "LB_DIM": "z",
          "PROCX": 2,
          "PROCY": 1,
          "PROCZ": 2,
          "NTHREADS": 8
      }
    },
    {
      "name": "hybrid_np4_nt8_1x1x4_z_t100000_timed",
      "based_on": "hybrid_np4_nt4_2x2x1_xy_t100000_timed",
      "variables": {
          "LB_DIM": "z",
          "PROCX": 1,
          "PROCY": 1,
          "PROCZ": 4,
          "NTHREADS": 8
      }
    },
    {
      "name":     "hybrid_np8_nt8_2x2x2_z_t100000_timed",
      "based_on": "hybrid_np4_nt4_2x2x1_xy_t100000_timed",
      "additional_files": [
          "myrankfile",
          "myhostfile128"
      ],
      "mpi_options": [
          "-report-bindings",
          "-hostfile myhostfile128",
          "-np 8",
          "-rf myrankfile"
      ],
      "required_resources": [
          "33",
          "34"
      ],
      "type": "mpi/custom",
      "variables": {
          "LB": 1,
          "LB_DIM" : "z",
          "NTHREADS": 8,
          "PROCX": 2,
          "PROCY": 2,
          "PROCZ": 2
      }
    },
    {
      "name":     "hybrid_np12_nt8_2x2x3_z_t100000_timed",
      "based_on": "hybrid_np4_nt4_2x2x1_xy_t100000_timed",
      "additional_files": [
          "myrankfile",
          "myhostfile128"
      ],
      "mpi_options": [
          "-report-bindings",
          "-hostfile myhostfile128",
          "-np 12",
          "-rf myrankfile"
      ],
      "required_resources": [
          "33",
          "34",
          "35"
      ],
      "type": "mpi/custom",
      "variables": {
          "LB": 1,
          "LB_DIM" : "z",
          "NTHREADS": 8,
          "PROCX": 2,
          "PROCY": 2,
          "PROCZ": 3
      }
    },
    {
      "name":     "hybrid_np16_nt8_2x2x4_z_t100000_timed",
      "based_on": "hybrid_np4_nt4_2x2x1_xy_t100000_timed",
      "additional_files": [
          "myrankfile",
          "myhostfile128"
      ],
      "mpi_options": [
          "-report-bindings",
          "-hostfile myhostfile128",
          "-np 16",
          "-rf myrankfile"
      ],
      "required_resources": [
          "33",
          "34",
          "35",
          "36"
      ],
      "type": "mpi/custom",
      "variables": {
          "LB": 1,
          "LB_DIM" : "z",
          "NTHREADS": 8,
          "PROCX": 2,
          "PROCY": 2,
          "PROCZ": 4
      }
    },
    {
      "name":     "hybrid_np16_nt8_4x4x1_xy_t100000_timed",
      "based_on": "hybrid_np4_nt4_2x2x1_xy_t100000_timed",
      "additional_files": [
          "myrankfile",
          "myhostfile128"
      ],
      "mpi_options": [
          "-report-bindings",
          "-hostfile myhostfile128",
          "-np 16",
          "-rf myrankfile"
      ],
      "required_resources": [
          "33",
          "34",
          "35",
          "36"
      ],
      "type": "mpi/custom",
      "variables": {
          "LB": 1,
          "LB_DIM" : "xy",
          "NTHREADS": 8,
          "PROCX": 4,
          "PROCY": 4,
          "PROCZ": 1
      }
    }
  ]
}
