{
  "runs": [
    {
      "name" : "create_sphere",
      "input_script" : "in.liggghts_init",
      "type" : "serial"
    },
    {
      "name" : "run_1atom",
      "depends_on" : "create_sphere",
      "input_script" : "in.liggghts_run_1atom",
      "type" : "serial",
      "data" : {
          "series" : [
            {"name" : "rhoeff",  "file" : "rho.dat",        "columns" : ["time", "rhoeff", "rhoeffl1", "rhoeffl2", "rhoeffl3", "rhoeffl4"]},
            {"name" : "aterm",   "file" : "Aterm.dat",      "columns" : ["time", "a1", "a2", "a3"]},
            {"name" : "bterm",   "file" : "Bterm.dat",      "columns" : ["time", "b1", "b2", "b3"]},
            {"name" : "mterm",   "file" : "MassTerm.dat",   "columns" : ["time", "mt"]},
            {"name" : "dmA",     "file" : "dmdot.dat",      "columns" : ["time", "dmA1", "dmA2", "dmA3"]},
            {"name" : "fracRed", "file" : "fr_d1.dat",      "columns" : ["time", "fr1", "fr2", "fr3", "frtot"]},
            {"name" : "absrad",  "file" : "absRadii.dat",   "columns" : ["time", "ar1", "ar2", "ar3", "ar4"]},
            {"name" : "relrad",  "file" : "relRadii.dat",   "columns" : ["time", "rr1", "rr2", "rr3", "rr4"]},
            {"name" : "lmasses", "file" : "mass_layer.dat", "columns" : ["time", "mass", "massl1", "massl2", "massl3", "massl4", "masslall", "massl1rr", "massl2rr", "massl3rr", "massl4rr", "masslallrr"]},
            {"name" : "heat",    "file" : "heat.dat",       "columns" : ["time", "heat"]}
          ],
          "plots" : [
            {"name" : "plot_rhoeff",  "title" : "Effective densities",        "xdata" : "rhoeff.time",  "ydata" : ["rhoeff.rhoeff","rhoeff.rhoeffl1","rhoeff.rhoeffl2","rhoeff.rhoeffl3","rhoeff.rhoeffl4"], "xlabel" : "Time [s]", "ylabel" : "Effective density [kg/m3]", "legend" : ["rhoeff","rhoeffFe","rhoeffW","rhoeffM","rhoeffH"]},
            {"name" : "plot_aterm",   "title" : "Reaction resistance terms",  "xdata" : "aterm.time",   "ydata" : ["aterm.a1","aterm.a2","aterm.a3"], "xlabel" : "Time [s]", "ylabel" : "Reaction resistance", "legend" : ["A_w->Fe","A_m->w","A_h->m"]},
            {"name" : "plot_bterm",   "title" : "Diffusion resistance terms", "xdata" : "bterm.time",   "ydata" : ["bterm.b1","bterm.b2","bterm.b3"], "xlabel" : "Time [s]", "ylabel" : "Diffusion resistance", "legend" : ["B_Fe","B_w","B_m"]},
            {"name" : "plot_mterm",   "title" : "Mass transfer resistance",   "xdata" : "mterm.time",   "ydata" : ["mterm.mt"], "xlabel" : "Time [s]", "ylabel" : "Mass transfer resistance", "legend" : ["massterm"]},
            {"name" : "plot_dmA",     "title" : "Mass change of species A",   "xdata" : "dmA.time",     "ydata" : ["dmA.dmA1","dmA.dmA2","dmA.dmA3"], "xlabel" : "Time [s]", "ylabel" : "Mass change of species A", "legend" : ["layer1","layer2","layer3"]},
            {"name" : "plot_fracRed", "title" : "Fractional Reduction",       "xdata" : "fracRed.time", "ydata" : ["fracRed.fr1","fracRed.fr2","fracRed.fr3","fracRed.frtot"], "xlabel" : "Time [s]", "ylabel" : "Fractional reduction", "legend" : ["w","m","h","total"]},
            {"name" : "plot_absrad",  "title" : "Abs. layer radii",           "xdata" : "absrad.time",  "ydata" : ["absrad.ar1","absrad.ar2","absrad.ar3","absrad.ar4"], "xlabel" : "Time [s]", "ylabel" : "Layer radius [m]", "legend" : ["Fe","w","m","h"]},
            {"name" : "plot_relrad",  "title" : "Rel. layer radii",           "xdata" : "relrad.time",  "ydata" : ["relrad.rr1","relrad.rr2","relrad.rr3","relrad.rr4"], "xlabel" : "Time [s]", "ylabel" : "Rel. layer radius", "legend" : ["Fe","w","m","h"]},
            {"name" : "plot_lmasses", "title" : "Layer masses (via reaction/rel. radii)", "xdata" : "lmasses.time", "ydata" : ["lmasses.massl1","lmasses.massl2","lmasses.massl3","lmasses.massl4","lmasses.masslall","lmasses.massl1rr","lmasses.massl2rr","lmasses.massl3rr","lmasses.massl4rr","lmasses.masslallrr"], "xlabel" : "Time [s]", "ylabel" : "Layer mass [kg]", "legend" : ["Fe","w","m","h","total","Fe_rr","w_rr","m_rr","h_rr","total_rr"]},
            {"name" : "plot_heat",    "title" : "Reaction heat",              "xdata" : "heat.time",    "ydata" : ["heat.heat"], "xlabel" : "Time [s]", "ylabel" : "Heat [kJ/mol]", "legend" : ["heat"]}
          ]
      }
    },
    {
      "name" : "run_2atoms",
      "depends_on" : "create_sphere",
      "input_script" : "in.liggghts_run_2atoms",
      "type" : "serial",
      "data" : {
          "series" : [
            {"name" : "rhoeff1",  "file" : "rho_1.dat",        "columns" : ["time", "rhoeff", "rhoeffl1", "rhoeffl2", "rhoeffl3", "rhoeffl4"]},
            {"name" : "aterm1",   "file" : "Aterm_1.dat",      "columns" : ["time", "a1", "a2", "a3"]},
            {"name" : "bterm1",   "file" : "Bterm_1.dat",      "columns" : ["time", "b1", "b2", "b3"]},
            {"name" : "mterm1",   "file" : "MassTerm_1.dat",   "columns" : ["time", "mt"]},
            {"name" : "dmA1",     "file" : "dmdot_1.dat",      "columns" : ["time", "dmA1", "dmA2", "dmA3"]},
            {"name" : "fracRed1", "file" : "fr_d1_1.dat",      "columns" : ["time", "fr1", "fr2", "fr3", "frtot"]},
            {"name" : "relrad1",  "file" : "relRadii_1.dat",   "columns" : ["time", "rr1", "rr2", "rr3", "rr4"]},
            {"name" : "rhoeff2",  "file" : "rho_2.dat",        "columns" : ["time", "rhoeff", "rhoeffl1", "rhoeffl2", "rhoeffl3", "rhoeffl4"]},
            {"name" : "aterm2",   "file" : "Aterm_2.dat",      "columns" : ["time", "a1", "a2", "a3"]},
            {"name" : "bterm2",   "file" : "Bterm_2.dat",      "columns" : ["time", "b1", "b2", "b3"]},
            {"name" : "mterm2",   "file" : "MassTerm_2.dat",   "columns" : ["time", "mt"]},
            {"name" : "dmA2",     "file" : "dmdot_2.dat",      "columns" : ["time", "dmA1", "dmA2", "dmA3"]},
            {"name" : "fracRed2", "file" : "fr_d1_2.dat",      "columns" : ["time", "fr1", "fr2", "fr3", "frtot"]},
            {"name" : "relrad2",  "file" : "relRadii_2.dat",   "columns" : ["time", "rr1", "rr2", "rr3", "rr4"]}
          ],
          "plots" : [
            {"name" : "plot_rhoeff_atom1",  "title" : "Effective densities (atom 1)",        "xdata" : "rhoeff1.time",  "ydata" : ["rhoeff1.rhoeff","rhoeff1.rhoeffl1","rhoeff1.rhoeffl2","rhoeff1.rhoeffl3","rhoeff1.rhoeffl4"], "xlabel" : "Time [s]", "ylabel" : "Effective density [kg/m3]", "legend" : ["rhoeff","rhoeffFe","rhoeffW","rhoeffM","rhoeffH"]},
            {"name" : "plot_rhoeff_atom2",  "title" : "Effective densities (atom 2)",        "xdata" : "rhoeff2.time",  "ydata" : ["rhoeff2.rhoeff","rhoeff2.rhoeffl1","rhoeff2.rhoeffl2","rhoeff2.rhoeffl3","rhoeff2.rhoeffl4"], "xlabel" : "Time [s]", "ylabel" : "Effective density [kg/m3]", "legend" : ["rhoeff","rhoeffFe","rhoeffW","rhoeffM","rhoeffH"]},
            {"name" : "plot_aterm_atom1",   "title" : "Reaction resistance terms (atom 1)",  "xdata" : "aterm1.time",   "ydata" : ["aterm1.a1","aterm1.a2","aterm1.a3"], "xlabel" : "Time [s]", "ylabel" : "Reaction resistance", "legend" : ["A_w->Fe","A_m->w","A_h->m"]},
            {"name" : "plot_aterm_atom2",   "title" : "Reaction resistance terms (atom 2)",  "xdata" : "aterm2.time",   "ydata" : ["aterm2.a1","aterm2.a2","aterm2.a3"], "xlabel" : "Time [s]", "ylabel" : "Reaction resistance", "legend" : ["A_w->Fe","A_m->w","A_h->m"]},
            {"name" : "plot_bterm_atom1",   "title" : "Diffusion resistance terms (atom 1)", "xdata" : "bterm1.time",   "ydata" : ["bterm1.b1","bterm1.b2","bterm1.b3"], "xlabel" : "Time [s]", "ylabel" : "Diffusion resistance", "legend" : ["B_Fe","B_w","B_m"]},
            {"name" : "plot_bterm_atom2",   "title" : "Diffusion resistance terms (atom 2)", "xdata" : "bterm2.time",   "ydata" : ["bterm2.b1","bterm2.b2","bterm2.b3"], "xlabel" : "Time [s]", "ylabel" : "Diffusion resistance", "legend" : ["B_Fe","B_w","B_m"]},
            {"name" : "plot_mterm_atom1",   "title" : "Mass transfer resistance (atom 1)",   "xdata" : "mterm1.time",   "ydata" : ["mterm1.mt"], "xlabel" : "Time [s]", "ylabel" : "Mass transfer resistance", "legend" : ["massterm"]},
            {"name" : "plot_mterm_atom2",   "title" : "Mass transfer resistance (atom 2)",   "xdata" : "mterm2.time",   "ydata" : ["mterm2.mt"], "xlabel" : "Time [s]", "ylabel" : "Mass transfer resistance", "legend" : ["massterm"]},
            {"name" : "plot_dmA_atom1",     "title" : "Mass change of species A (atom 1)",   "xdata" : "dmA1.time",     "ydata" : ["dmA1.dmA1","dmA1.dmA2","dmA1.dmA3"], "xlabel" : "Time [s]", "ylabel" : "Mass change of species A", "legend" : ["layer1","layer2","layer3"]},
            {"name" : "plot_dmA_atom2",     "title" : "Mass change of species A (atom 2)",   "xdata" : "dmA2.time",     "ydata" : ["dmA2.dmA1","dmA2.dmA2","dmA2.dmA3"], "xlabel" : "Time [s]", "ylabel" : "Mass change of species A", "legend" : ["layer1","layer2","layer3"]},
            {"name" : "plot_fracRed_atom1", "title" : "Fractional Reduction (atom 1)",       "xdata" : "fracRed1.time", "ydata" : ["fracRed1.fr1","fracRed1.fr2","fracRed1.fr3","fracRed1.frtot"], "xlabel" : "Time [s]", "ylabel" : "Fractional reduction", "legend" : ["w","m","h","total"]},
            {"name" : "plot_fracRed_atom2", "title" : "Fractional Reduction (atom 2)",       "xdata" : "fracRed2.time", "ydata" : ["fracRed2.fr1","fracRed2.fr2","fracRed2.fr3","fracRed2.frtot"], "xlabel" : "Time [s]", "ylabel" : "Fractional reduction", "legend" : ["w","m","h","total"]},
            {"name" : "plot_relrad_atom1",  "title" : "Rel. layer radii (atom 1)",           "xdata" : "relrad1.time",  "ydata" : ["relrad1.rr1","relrad1.rr2","relrad1.rr3","relrad1.rr4"], "xlabel" : "Time [s]", "ylabel" : "Rel. layer radius", "legend" : ["Fe","w","m","h"]},
            {"name" : "plot_relrad_atom2",  "title" : "Rel. layer radii (atom 2)",           "xdata" : "relrad2.time",  "ydata" : ["relrad2.rr1","relrad2.rr2","relrad2.rr3","relrad2.rr4"], "xlabel" : "Time [s]", "ylabel" : "Rel. layer radius", "legend" : ["Fe","w","m","h"]}
          ]
      }
    },
    {
      "name" : "run_2groups_same",
      "depends_on" : "create_sphere",
      "input_script" : "in.liggghts_run_2groups_same",
      "type" : "serial",
      "data" : {
          "series" : [
            {"name" : "rhoeff1",  "file" : "rho_g1.dat",        "columns" : ["time", "rhoeff", "rhoeffl1", "rhoeffl2", "rhoeffl3", "rhoeffl4"]},
            {"name" : "aterm1",   "file" : "Aterm_g1.dat",      "columns" : ["time", "a1", "a2", "a3"]},
            {"name" : "bterm1",   "file" : "Bterm_g1.dat",      "columns" : ["time", "b1", "b2", "b3"]},
            {"name" : "mterm1",   "file" : "MassTerm_g1.dat",   "columns" : ["time", "mt"]},
            {"name" : "dmA1",     "file" : "dmdot_g1.dat",      "columns" : ["time", "dmA1", "dmA2", "dmA3"]},
            {"name" : "fracRed1", "file" : "fr_d1_g1.dat",      "columns" : ["time", "fr1", "fr2", "fr3", "frtot"]},
            {"name" : "relrad1",  "file" : "relRadii_g1.dat",   "columns" : ["time", "rr1", "rr2", "rr3", "rr4"]},
            {"name" : "rhoeff2",  "file" : "rho_g2.dat",        "columns" : ["time", "rhoeff", "rhoeffl1", "rhoeffl2", "rhoeffl3", "rhoeffl4"]},
            {"name" : "aterm2",   "file" : "Aterm_g2.dat",      "columns" : ["time", "a1", "a2", "a3"]},
            {"name" : "bterm2",   "file" : "Bterm_g2.dat",      "columns" : ["time", "b1", "b2", "b3"]},
            {"name" : "mterm2",   "file" : "MassTerm_g2.dat",   "columns" : ["time", "mt"]},
            {"name" : "dmA2",     "file" : "dmdot_g2.dat",      "columns" : ["time", "dmA1", "dmA2", "dmA3"]},
            {"name" : "fracRed2", "file" : "fr_d1_g2.dat",      "columns" : ["time", "fr1", "fr2", "fr3", "frtot"]},
            {"name" : "relrad2",  "file" : "relRadii_g2.dat",   "columns" : ["time", "rr1", "rr2", "rr3", "rr4"]}
          ],
          "plots" : [
            {"name" : "plot_rhoeff_group1",  "title" : "Effective densities (group 1)",        "xdata" : "rhoeff1.time",  "ydata" : ["rhoeff1.rhoeff","rhoeff1.rhoeffl1","rhoeff1.rhoeffl2","rhoeff1.rhoeffl3","rhoeff1.rhoeffl4"], "xlabel" : "Time [s]", "ylabel" : "Effective density [kg/m3]", "legend" : ["rhoeff","rhoeffFe","rhoeffW","rhoeffM","rhoeffH"]},
            {"name" : "plot_rhoeff_group2",  "title" : "Effective densities (group 2)",        "xdata" : "rhoeff2.time",  "ydata" : ["rhoeff2.rhoeff","rhoeff2.rhoeffl1","rhoeff2.rhoeffl2","rhoeff2.rhoeffl3","rhoeff2.rhoeffl4"], "xlabel" : "Time [s]", "ylabel" : "Effective density [kg/m3]", "legend" : ["rhoeff","rhoeffFe","rhoeffW","rhoeffM","rhoeffH"]},
            {"name" : "plot_aterm_group1",   "title" : "Reaction resistance terms (group 1)",  "xdata" : "aterm1.time",   "ydata" : ["aterm1.a1","aterm1.a2","aterm1.a3"], "xlabel" : "Time [s]", "ylabel" : "Reaction resistance", "legend" : ["A_w->Fe","A_m->w","A_h->m"]},
            {"name" : "plot_aterm_group2",   "title" : "Reaction resistance terms (group 2)",  "xdata" : "aterm2.time",   "ydata" : ["aterm2.a1","aterm2.a2","aterm2.a3"], "xlabel" : "Time [s]", "ylabel" : "Reaction resistance", "legend" : ["A_w->Fe","A_m->w","A_h->m"]},
            {"name" : "plot_bterm_group1",   "title" : "Diffusion resistance terms (group 1)", "xdata" : "bterm1.time",   "ydata" : ["bterm1.b1","bterm1.b2","bterm1.b3"], "xlabel" : "Time [s]", "ylabel" : "Diffusion resistance", "legend" : ["B_Fe","B_w","B_m"]},
            {"name" : "plot_bterm_group2",   "title" : "Diffusion resistance terms (group 2)", "xdata" : "bterm2.time",   "ydata" : ["bterm2.b1","bterm2.b2","bterm2.b3"], "xlabel" : "Time [s]", "ylabel" : "Diffusion resistance", "legend" : ["B_Fe","B_w","B_m"]},
            {"name" : "plot_mterm_group1",   "title" : "Mass transfer resistance (group 1)",   "xdata" : "mterm1.time",   "ydata" : ["mterm1.mt"], "xlabel" : "Time [s]", "ylabel" : "Mass transfer resistance", "legend" : ["massterm"]},
            {"name" : "plot_mterm_group2",   "title" : "Mass transfer resistance (group 2)",   "xdata" : "mterm2.time",   "ydata" : ["mterm2.mt"], "xlabel" : "Time [s]", "ylabel" : "Mass transfer resistance", "legend" : ["massterm"]},
            {"name" : "plot_dmA_group1",     "title" : "Mass change of species A (group 1)",   "xdata" : "dmA1.time",     "ydata" : ["dmA1.dmA1","dmA1.dmA2","dmA1.dmA3"], "xlabel" : "Time [s]", "ylabel" : "Mass change of species A", "legend" : ["layer1","layer2","layer3"]},
            {"name" : "plot_dmA_group2",     "title" : "Mass change of species A (group 2)",   "xdata" : "dmA2.time",     "ydata" : ["dmA2.dmA1","dmA2.dmA2","dmA2.dmA3"], "xlabel" : "Time [s]", "ylabel" : "Mass change of species A", "legend" : ["layer1","layer2","layer3"]},
            {"name" : "plot_fracRed_group1", "title" : "Fractional Reduction (group 1)",       "xdata" : "fracRed1.time", "ydata" : ["fracRed1.fr1","fracRed1.fr2","fracRed1.fr3","fracRed1.frtot"], "xlabel" : "Time [s]", "ylabel" : "Fractional reduction", "legend" : ["w","m","h","total"]},
            {"name" : "plot_fracRed_group2", "title" : "Fractional Reduction (group 2)",       "xdata" : "fracRed2.time", "ydata" : ["fracRed2.fr1","fracRed2.fr2","fracRed2.fr3","fracRed2.frtot"], "xlabel" : "Time [s]", "ylabel" : "Fractional reduction", "legend" : ["w","m","h","total"]},
            {"name" : "plot_relrad_group1",  "title" : "Rel. layer radii (group 1)",           "xdata" : "relrad1.time",  "ydata" : ["relrad1.rr1","relrad1.rr2","relrad1.rr3","relrad1.rr4"], "xlabel" : "Time [s]", "ylabel" : "Rel. layer radius", "legend" : ["Fe","w","m","h"]},
            {"name" : "plot_relrad_group2",  "title" : "Rel. layer radii (group 2)",           "xdata" : "relrad2.time",  "ydata" : ["relrad2.rr1","relrad2.rr2","relrad2.rr3","relrad2.rr4"], "xlabel" : "Time [s]", "ylabel" : "Rel. layer radius", "legend" : ["Fe","w","m","h"]}
          ]
      }
    },
    {
      "name" : "run_2groups_diff",
      "depends_on" : "create_sphere",
      "input_script" : "in.liggghts_run_2groups_diff",
      "type" : "serial",
      "data" : {
          "series" : [
            {"name" : "rhoeff1",  "file" : "rho_g1.dat",        "columns" : ["time", "rhoeff", "rhoeffl1", "rhoeffl2", "rhoeffl3", "rhoeffl4"]},
            {"name" : "aterm1",   "file" : "Aterm_g1.dat",      "columns" : ["time", "a1", "a2", "a3"]},
            {"name" : "bterm1",   "file" : "Bterm_g1.dat",      "columns" : ["time", "b1", "b2", "b3"]},
            {"name" : "mterm1",   "file" : "MassTerm_g1.dat",   "columns" : ["time", "mt"]},
            {"name" : "dmA1",     "file" : "dmdot_g1.dat",      "columns" : ["time", "dmA1", "dmA2", "dmA3"]},
            {"name" : "fracRed1", "file" : "fr_d1_g1.dat",      "columns" : ["time", "fr1", "fr2", "fr3", "frtot"]},
            {"name" : "relrad1",  "file" : "relRadii_g1.dat",   "columns" : ["time", "rr1", "rr2", "rr3", "rr4"]},
            {"name" : "rhoeff2",  "file" : "rho_g2.dat",        "columns" : ["time", "rhoeff", "rhoeffl1", "rhoeffl2", "rhoeffl3", "rhoeffl4"]},
            {"name" : "aterm2",   "file" : "Aterm_g2.dat",      "columns" : ["time", "a1", "a2", "a3"]},
            {"name" : "bterm2",   "file" : "Bterm_g2.dat",      "columns" : ["time", "b1", "b2", "b3"]},
            {"name" : "mterm2",   "file" : "MassTerm_g2.dat",   "columns" : ["time", "mt"]},
            {"name" : "dmA2",     "file" : "dmdot_g2.dat",      "columns" : ["time", "dmA1", "dmA2", "dmA3"]},
            {"name" : "fracRed2", "file" : "fr_d1_g2.dat",      "columns" : ["time", "fr1", "fr2", "fr3", "frtot"]},
            {"name" : "relrad2",  "file" : "relRadii_g2.dat",   "columns" : ["time", "rr1", "rr2", "rr3", "rr4"]}
          ],
          "plots" : [
            {"name" : "plot_rhoeff_group1",  "title" : "Effective densities (group 1)",        "xdata" : "rhoeff1.time",  "ydata" : ["rhoeff1.rhoeff","rhoeff1.rhoeffl1","rhoeff1.rhoeffl2","rhoeff1.rhoeffl3","rhoeff1.rhoeffl4"], "xlabel" : "Time [s]", "ylabel" : "Effective density [kg/m3]", "legend" : ["rhoeff","rhoeffFe","rhoeffW","rhoeffM","rhoeffH"]},
            {"name" : "plot_rhoeff_group2",  "title" : "Effective densities (group 2)",        "xdata" : "rhoeff2.time",  "ydata" : ["rhoeff2.rhoeff","rhoeff2.rhoeffl1","rhoeff2.rhoeffl2","rhoeff2.rhoeffl3","rhoeff2.rhoeffl4"], "xlabel" : "Time [s]", "ylabel" : "Effective density [kg/m3]", "legend" : ["rhoeff","rhoeffFe","rhoeffW","rhoeffM","rhoeffH"]},
            {"name" : "plot_aterm_group1",   "title" : "Reaction resistance terms (group 1)",  "xdata" : "aterm1.time",   "ydata" : ["aterm1.a1","aterm1.a2","aterm1.a3"], "xlabel" : "Time [s]", "ylabel" : "Reaction resistance", "legend" : ["A_w->Fe","A_m->w","A_h->m"]},
            {"name" : "plot_aterm_group2",   "title" : "Reaction resistance terms (group 2)",  "xdata" : "aterm2.time",   "ydata" : ["aterm2.a1","aterm2.a2","aterm2.a3"], "xlabel" : "Time [s]", "ylabel" : "Reaction resistance", "legend" : ["A_w->Fe","A_m->w","A_h->m"]},
            {"name" : "plot_bterm_group1",   "title" : "Diffusion resistance terms (group 1)", "xdata" : "bterm1.time",   "ydata" : ["bterm1.b1","bterm1.b2","bterm1.b3"], "xlabel" : "Time [s]", "ylabel" : "Diffusion resistance", "legend" : ["B_Fe","B_w","B_m"]},
            {"name" : "plot_bterm_group2",   "title" : "Diffusion resistance terms (group 2)", "xdata" : "bterm2.time",   "ydata" : ["bterm2.b1","bterm2.b2","bterm2.b3"], "xlabel" : "Time [s]", "ylabel" : "Diffusion resistance", "legend" : ["B_Fe","B_w","B_m"]},
            {"name" : "plot_mterm_group1",   "title" : "Mass transfer resistance (group 1)",   "xdata" : "mterm1.time",   "ydata" : ["mterm1.mt"], "xlabel" : "Time [s]", "ylabel" : "Mass transfer resistance", "legend" : ["massterm"]},
            {"name" : "plot_mterm_group2",   "title" : "Mass transfer resistance (group 2)",   "xdata" : "mterm2.time",   "ydata" : ["mterm2.mt"], "xlabel" : "Time [s]", "ylabel" : "Mass transfer resistance", "legend" : ["massterm"]},
            {"name" : "plot_dmA_group1",     "title" : "Mass change of species A (group 1)",   "xdata" : "dmA1.time",     "ydata" : ["dmA1.dmA1","dmA1.dmA2","dmA1.dmA3"], "xlabel" : "Time [s]", "ylabel" : "Mass change of species A", "legend" : ["layer1","layer2","layer3"]},
            {"name" : "plot_dmA_group2",     "title" : "Mass change of species A (group 2)",   "xdata" : "dmA2.time",     "ydata" : ["dmA2.dmA1","dmA2.dmA2","dmA2.dmA3"], "xlabel" : "Time [s]", "ylabel" : "Mass change of species A", "legend" : ["layer1","layer2","layer3"]},
            {"name" : "plot_fracRed_group1", "title" : "Fractional Reduction (group 1)",       "xdata" : "fracRed1.time", "ydata" : ["fracRed1.fr1","fracRed1.fr2","fracRed1.fr3","fracRed1.frtot"], "xlabel" : "Time [s]", "ylabel" : "Fractional reduction", "legend" : ["w","m","h","total"]},
            {"name" : "plot_fracRed_group2", "title" : "Fractional Reduction (group 2)",       "xdata" : "fracRed2.time", "ydata" : ["fracRed2.fr1","fracRed2.fr2","fracRed2.fr3","fracRed2.frtot"], "xlabel" : "Time [s]", "ylabel" : "Fractional reduction", "legend" : ["w","m","h","total"]},
            {"name" : "plot_relrad_group1",  "title" : "Rel. layer radii (group 1)",           "xdata" : "relrad1.time",  "ydata" : ["relrad1.rr1","relrad1.rr2","relrad1.rr3","relrad1.rr4"], "xlabel" : "Time [s]", "ylabel" : "Rel. layer radius", "legend" : ["Fe","w","m","h"]},
            {"name" : "plot_relrad_group2",  "title" : "Rel. layer radii (group 2)",           "xdata" : "relrad2.time",  "ydata" : ["relrad2.rr1","relrad2.rr2","relrad2.rr3","relrad2.rr4"], "xlabel" : "Time [s]", "ylabel" : "Rel. layer radius", "legend" : ["Fe","w","m","h"]}
          ]
      }
    }
  ]
}
