{
  "runs": [
    {
      "name" : "create_sphere",
      "input_script" : "in.liggghts_init",
      "type" : "serial"
    },
    {
      "name" : "run_1atom",
      "depends_on" : "create_sphere",
      "input_script" : "in.liggghts_run_1atom",
      "type" : "serial",
      "data" : {
          "series" : [
            {"name" : "rhoeff",  "file" : "rho.dat",        "columns" : ["time", "rhoeff", "rhoeffl1", "rhoeffl2", "rhoeffl3", "rhoeffl4"]},
            {"name" : "aterm",   "file" : "Aterm.dat",      "columns" : ["time", "a1", "a2", "a3"]},
            {"name" : "bterm",   "file" : "Bterm.dat",      "columns" : ["time", "b1", "b2", "b3"]},
            {"name" : "mterm",   "file" : "MassTerm.dat",   "columns" : ["time", "mt"]},
            {"name" : "dmA",     "file" : "dmdot.dat",      "columns" : ["time", "dmA1", "dmA2", "dmA3"]},
            {"name" : "fracRed", "file" : "fr_d1.dat",      "columns" : ["time", "fr1", "fr2", "fr3", "frtot"]},
            {"name" : "absrad",  "file" : "absRadii.dat",   "columns" : ["time", "ar1", "ar2", "ar3", "ar4"]},
            {"name" : "relrad",  "file" : "relRadii.dat",   "columns" : ["time", "rr1", "rr2", "rr3", "rr4"]},
            {"name" : "lmasses", "file" : "mass_layer.dat", "columns" : ["time", "mass", "massl1", "massl2", "massl3", "massl4", "masslall", "massl1rr", "massl2rr", "massl3rr", "massl4rr", "masslallrr"]},
            {"name" : "heat",    "file" : "heat.dat",       "columns" : ["time", "heat"]}
          ],
          "plots" : [
            {"name" : "plotrhoeff",  "title" : "Effective densities",        "xdata" : "rhoeff.time",  "ydata" : ["rhoeff.rhoeff","rhoeff.rhoeffl1","rhoeff.rhoeffl2","rhoeff.rhoeffl3","rhoeff.rhoeffl4"], "xlabel" : "Time [s]", "ylabel" : "Effective density [kg/m3]", "legend" : ["rhoeff","rhoeffFe","rhoeffW","rhoeffM","rhoeffH"]},
            {"name" : "plotaterm",   "title" : "Reaction resistance terms",  "xdata" : "aterm.time",   "ydata" : ["aterm.a1","aterm.a2","aterm.a3"], "xlabel" : "Time [s]", "ylabel" : "Reaction resistance", "legend" : ["A_w->Fe","A_m->w","A_h->m"]},
            {"name" : "plotbterm",   "title" : "Diffusion resistance terms", "xdata" : "bterm.time",   "ydata" : ["bterm.b1","bterm.b2","bterm.b3"], "xlabel" : "Time [s]", "ylabel" : "Diffusion resistance", "legend" : ["B_Fe","B_w","B_m"]},
            {"name" : "plotmterm",   "title" : "Mass transfer resistance",   "xdata" : "mterm.time",   "ydata" : ["mterm.mt"], "xlabel" : "Time [s]", "ylabel" : "Mass transfer resistance", "legend" : ["massterm"]},
            {"name" : "plotdmA",     "title" : "Mass change of species A",   "xdata" : "dmA.time",     "ydata" : ["dmA.dmA1","dmA.dmA2","dmA.dmA3"], "xlabel" : "Time [s]", "ylabel" : "Mass change of species A", "legend" : ["layer1","layer2","layer3"]},
            {"name" : "plotfracRed", "title" : "Fractional Reduction",       "xdata" : "fracRed.time", "ydata" : ["fracRed.fr1","fracRed.fr2","fracRed.fr3","fracRed.frtot"], "xlabel" : "Time [s]", "ylabel" : "Fractional reduction", "legend" : ["w","m","h","total"]},
            {"name" : "plotabsrad",  "title" : "Abs. layer radii",           "xdata" : "absrad.time",  "ydata" : ["absrad.ar1","absrad.ar2","absrad.ar3","absrad.ar4"], "xlabel" : "Time [s]", "ylabel" : "Layer radius [m]", "legend" : ["Fe","w","m","h"]},
            {"name" : "plotrelrad",  "title" : "Rel. layer radii",           "xdata" : "relrad.time",  "ydata" : ["relrad.rr1","relrad.rr2","relrad.rr3","relrad.rr4"], "xlabel" : "Time [s]", "ylabel" : "Rel. layer radius", "legend" : ["Fe","w","m","h"]},
            {"name" : "plotlmasses", "title" : "Layer masses (via reaction/rel. radii)", "xdata" : "lmasses.time", "ydata" : ["lmasses.massl1","lmasses.massl2","lmasses.massl3","lmasses.massl4"], "xlabel" : "Time [s]", "ylabel" : "Layer mass [kg]", "legend" : ["Fe","w","m","h","total","Fe_rr","w_rr","m_rr","h_rr","total_rr"]},
            {"name" : "plotheat",    "title" : "Reaction heat",              "xdata" : "heat.time",    "ydata" : ["heat.heat"], "xlabel" : "Time [s]", "ylabel" : "Heat [kJ/mol]", "legend" : ["heat"]}
          ]
      }
    }
  ]
}
