{
  "runs" : [
    {
      "name" : "rotary_kiln_init",
      "input_script" : "in.rotaryKiln_init",
      "type" : "mpi",
      "nprocs" : 4,
      "variables" : {
        "YPROC" : 2,
        "ZPROC" : 2
      }
    },
    {
      "name" : "rotary_kiln_run_np1",
      "input_script" : "in.rotaryKiln_run",
      "depends_on" : "rotary_kiln_init",
      "type" : "mpi",
      "nprocs" : 1,
      "variables" : {
        "YPROC" : 1,
        "ZPROC" : 1
      }
    },
    {
      "name" : "rotary_kiln_run_2x1x1_np2",
      "input_script" : "in.rotaryKiln_run",
      "depends_on" : "rotary_kiln_init",
      "type" : "mpi",
      "nprocs" : 2,
      "variables" : {
        "YPROC" : 2,
        "ZPROC" : 1
      }
    },
    {
      "name" : "rotary_kiln_run_1x2x1_np2",
      "input_script" : "in.rotaryKiln_run",
      "depends_on" : "rotary_kiln_init",
      "type" : "mpi",
      "nprocs" : 2,
      "variables" : {
        "YPROC" : 1,
        "ZPROC" : 2
      }
    },
    {
      "name" : "rotary_kiln_run_np4",
      "input_script" : "in.rotaryKiln_run",
      "depends_on" : "rotary_kiln_init",
      "type" : "mpi",
      "nprocs" : 4,
      "variables" : {
        "YPROC" : 2,
        "ZPROC" : 2
      }
    },
    {
      "name" : "rotary_kiln_run_np4_w_neighs",
      "input_script" : "in.rotaryKiln_run_w_neighs",
      "depends_on" : "rotary_kiln_init",
      "type" : "mpi",
      "nprocs" : 4,
      "variables" : {
        "YPROC" : 2,
        "ZPROC" : 2
      }
    }
  ]
}
