{
  "runs": [
    {
      "name" : "lubrication",
      "input_script" : "in.lubrication",
      "type" : "serial",
      "variables" : {
        "NORMALMODEL" : "hertz/lubricated",
        "TANGENTIALMODEL" : "history/lubricated",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off"
      },
      "post_scripts" : ["processData.m"],
      "data" : {
          "series" : [
            {"name" : "rebound", "file" : "hertz/lubricated_rebound_properties.txt", "columns" : ["Theta", "Stokes", "etot", "en", "et", "sigmaeff", "thetai"]},
            {"name" : "displace", "file" : "force_displacement.txt", "columns" : ["deltan", "Fn"]},
            {"name" : "time", "file" : "force_time.txt", "columns" : ["usec", "Fn"]}
          ],
          "plots" : [
            {"name" : "reboundetot", "title" : "Total coeff. of restitution", "xdata" : "rebound.Theta", "ydata" : ["rebound.etot"], "xlabel" : "Impact angle", "ylabel" : "e_tot", "legend" : ["etot"]},
            {"name" : "rebounden", "title" : "Normal coeff. of restitution", "xdata" : "rebound.Theta", "ydata" : ["rebound.en"], "xlabel" : "Impact angle", "ylabel" : "e_n", "legend" : ["en"]},
            {"name" : "reboundet", "title" : "Tangential coeff. of restitution", "xdata" : "rebound.Theta", "ydata" : ["rebound.et"], "xlabel" : "Impact angle", "ylabel" : "e_t", "legend" : ["et"]},
            {"name" : "reboundsigmaeff", "title" : "Eff. rebound angle", "xdata" : "rebound.Theta", "ydata" : ["rebound.sigmaeff"], "xlabel" : "Impact angle", "ylabel" : "sigma_eff", "legend" : ["sigmaeff"]},
            {"name" : "reboundthetai", "title" : "Rebound angle", "xdata" : "rebound.Theta", "ydata" : ["rebound.thetai"], "xlabel" : "Impact angle", "ylabel" : "theta_i", "legend" : ["thetai"]},
            {"name" : "displacedelta", "title" : "Normal force-displacement", "xdata" : "displace.deltan", "ydata" : ["displace.Fn"], "xlabel" : "Normal contact displacement [um]", "ylabel" : "Normal contact force [N]", "legend" : ["Fn"]},
            {"name" : "forcetime", "title" : "Normal force-time", "xdata" : "time.usec", "ydata" : ["time.Fn"], "xlabel" : "Time [us]", "ylabel" : "Normal contact force [N]", "legend" : ["Fn"]}
          ]
      }
    }
  ]
}
