{
  "runs": [
    {
      "name" : "elastic_hooke_history_steel",
      "input_script" : "in.oblique_impact_on_wall",
      "type" : "serial",
      "variables" : {
        "NORMALMODEL" : "hooke",
        "TANGENTIALMODEL" : "history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "YOUNG" : 4.16e11,
        "POISSON" : 0.3,
        "DENSITY" : 7850
      },
      "data" : {
          "series" : [
            {"name" : "rebound", "file" : "hooke_rebound_properties.txt", "columns" : ["Theta", "Phi", "Philimit", "Omega", "Omegalimit"]}
          ],
          "plots" : [
            {"name" : "reboundangle", "title" : "Norm. rebound angle", "xdata" : "rebound.Theta", "ydata" : ["rebound.Phi","rebound.Philimit"], "xlabel" : "Normalized incident angle", "ylabel" : "Norm. rebound angle", "legend" : ["phi","philimit"]},
            {"name" : "reboundomega", "title" : "Norm. rebound angular velocity", "xdata" : "rebound.Theta", "ydata" : ["rebound.Omega","rebound.Omegalimit"], "xlabel" : "Normalized incident angle", "ylabel" : "Norm. rebound ang. vel.", "legend" : ["omegaxr","omegaxrlimit"]}
          ]
      }
    },
    {
      "name" : "elastic_hertz_history_steel",
      "input_script" : "in.oblique_impact_on_wall",
      "type" : "serial",
      "variables" : {
        "NORMALMODEL" : "hertz",
        "TANGENTIALMODEL" : "history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "YOUNG" : 4.16e11,
        "POISSON" : 0.3,
        "DENSITY" : 7850
      },
      "data" : {
          "series" : [
            {"name" : "rebound", "file" : "hertz_rebound_properties.txt", "columns" : ["Theta", "Phi", "Philimit", "Omega", "Omegalimit"]}
          ],
          "plots" : [
            {"name" : "reboundangle", "title" : "Norm. rebound angle", "xdata" : "rebound.Theta", "ydata" : ["rebound.Phi","rebound.Philimit"], "xlabel" : "Normalized incident angle", "ylabel" : "Norm. rebound angle", "legend" : ["phi","philimit"]},
            {"name" : "reboundomega", "title" : "Norm. rebound angular velocity", "xdata" : "rebound.Theta", "ydata" : ["rebound.Omega","rebound.Omegalimit"], "xlabel" : "Normalized incident angle", "ylabel" : "Norm. rebound ang. vel.", "legend" : ["omegaxr","omegaxrlimit"]}
          ]
      }
    },
    {
      "name" : "elastic_hooke_incremental_history_steel",
      "based_on": "elastic_hooke_history_steel",
      "variables" : {
        "NORMALMODEL" : "hooke",
        "TANGENTIALMODEL" : "incremental_history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "YOUNG" : 4.16e11,
        "POISSON" : 0.3,
        "DENSITY" : 7850
      }
    },
    {
      "name" : "elastic_hertz_incremental_history_steel",
      "based_on": "elastic_hertz_history_steel",
      "variables" : {
        "NORMALMODEL" : "hertz",
        "TANGENTIALMODEL" : "incremental_history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "YOUNG" : 4.16e11,
        "POISSON" : 0.3,
        "DENSITY" : 7850
      }
    },
    {
      "name" : "elastic_hooke_history_polyethylene",
      "based_on": "elastic_hooke_history_steel",
      "variables" : {
        "NORMALMODEL" : "hooke",
        "TANGENTIALMODEL" : "history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "YOUNG" : 2.0e9,
        "POISSON" : 0.4,
        "DENSITY" : 1400
      }
    },
    {
      "name" : "elastic_hertz_history_polyethylene",
      "based_on": "elastic_hertz_history_steel",
      "variables" : {
        "NORMALMODEL" : "hertz",
        "TANGENTIALMODEL" : "history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "YOUNG" : 2.0e9,
        "POISSON" : 0.4,
        "DENSITY" : 1400
      }
    },
    {
      "name" : "elastic_hooke_incremental_history_polyethylene",
      "based_on": "elastic_hooke_incremental_history_steel",
      "variables" : {
        "NORMALMODEL" : "hooke",
        "TANGENTIALMODEL" : "incremental_history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "YOUNG" : 2.0e9,
        "POISSON" : 0.4,
        "DENSITY" : 1400
      }
    },
    {
      "name" : "elastic_hertz_incremental_history_polyethylene",
      "based_on": "elastic_hertz_incremental_history_steel",
      "variables" : {
        "NORMALMODEL" : "hertz",
        "TANGENTIALMODEL" : "incremental_history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "YOUNG" : 2.0e9,
        "POISSON" : 0.4,
        "DENSITY" : 1400
      }
    }
  ]
}
