{
  "runs": [
    {
      "name" : "mpi_np8_init",
      "input_script" : "in.mixer_init",
      "type" : "mpi",
      "nprocs" : 8,
      "variables" : { "INSERT_TIMESTEPS" : 50000, "TOTAL_TIMESTEPS" : 100000,
                      "XPROC" : 8, "YPROC" : 1, "ZPROC" : 1, "IJK" : "xyz" }
    },
    {
      "name": "mpi_np1_1x1x1_t50000_timed",
      "depends_on": "mpi_np8_init",
      "input_script": "in.mixer_run",
      "nprocs": 1,
      "type": "mpi",
      "variables": {
          "IJK": "xyz",
          "INSERT_TIMESTEPS": 50000,
          "LB": 0,
          "LB_DIM": "xy",
          "TOTAL_TIMESTEPS": 100000,
          "XPROC": 1,
          "YPROC": 1,
          "ZPROC": 1
      }
    },
    {
      "name": "mpi_np2_2x1x1_t50000_timed",
      "based_on": "mpi_np1_1x1x1_t50000_timed",
      "nprocs": 2,
      "variables": {
          "LB": 1,
          "LB_DIM": "x",
          "XPROC": 2,
          "YPROC": 1,
          "ZPROC": 1
      }
    },
    {
      "name": "mpi_np4_4x1x1_t50000_timed",
      "based_on": "mpi_np1_1x1x1_t50000_timed",
      "nprocs": 4,
      "variables": {
          "LB": 1,
          "LB_DIM": "x",
          "XPROC": 4,
          "YPROC": 1,
          "ZPROC": 1
      }
    },
    {
      "name": "mpi_np8_8x1x1_t50000_timed",
      "based_on": "mpi_np1_1x1x1_t50000_timed",
      "nprocs": 8,
      "variables": {
          "LB": 1,
          "LB_DIM": "x",
          "XPROC": 8,
          "YPROC": 1,
          "ZPROC": 1
      }
    },
    {
      "name": "mpi_np16_8x2x1_t50000_timed",
      "based_on": "mpi_np1_1x1x1_t50000_timed",
      "machines": ["gollum32"],
      "nprocs": 16,
      "variables": {
          "LB": 1,
          "LB_DIM": "xy",
          "XPROC": 8,
          "YPROC": 2,
          "ZPROC": 1
      }
    },
    {
      "name": "mpi_np32_8x4x1_t50000_timed",
      "based_on": "mpi_np1_1x1x1_t50000_timed",
      "machines": ["gollum32"],
      "nprocs": 32,
      "variables": {
          "LB": 1,
          "LB_DIM": "xy",
          "XPROC": 8,
          "YPROC": 4,
          "ZPROC": 1
      }
    },
    {
      "name": "mpi_np64_4x16x1_t50000_timed",
      "based_on": "mpi_np1_1x1x1_t50000_timed",
      "machines": ["gollum32"],
      "required_resources": ["33", "34"],
      "additional_files": ["myhostfile64"],
      "mpi_options": [
          "-report-bindings",
          "-hostfile myhostfile64",
          "-np 64"
      ],
      "nprocs": 64,
      "type": "mpi/custom",
      "variables": {
          "LB": 1,
          "LB_DIM": "xy",
          "XPROC": 4,
          "YPROC": 16,
          "ZPROC": 1
      }
    },
    {
      "name": "mpi_np64_8x2x4_t50000_timed",
      "based_on": "mpi_np64_4x16x1_t50000_timed",
      "variables": {
          "LB_DIM": "xz",
          "XPROC": 8,
          "YPROC": 2,
          "ZPROC": 4
      }
    },
    {
      "name": "mpi_np64_8x8x1_t50000_timed",
      "based_on": "mpi_np64_4x16x1_t50000_timed",
      "variables": {
          "LB_DIM": "xy",
          "XPROC": 8,
          "YPROC": 8,
          "ZPROC": 1
      }
    },
    {
      "name": "mpi_np64_16x2x1_t50000_timed",
      "based_on": "mpi_np64_4x16x1_t50000_timed",
      "variables": {
          "LB_DIM": "xy",
          "XPROC": 16,
          "YPROC": 2,
          "ZPROC": 1
      }
    },
    {
      "name": "mpi_np64_8x4x2_t50000_timed",
      "based_on": "mpi_np64_4x16x1_t50000_timed",
      "variables": {
          "LB_DIM": "xyz",
          "XPROC": 8,
          "YPROC": 4,
          "ZPROC": 2
      }
    },
    {
      "name": "mpi_np96_12x8x1_t50000_timed",
      "based_on": "mpi_np1_1x1x1_t50000_timed",
      "machines": ["gollum32"],
      "required_resources": ["33", "34", "35"],
      "additional_files": ["myhostfile128"],
      "mpi_options": [
          "-report-bindings",
          "-hostfile myhostfile128",
          "-np 96"
      ],
      "type": "mpi/custom",
      "variables": {
          "LB": 1,
          "LB_DIM": "xy",
          "XPROC": 12,
          "YPROC": 8,
          "ZPROC": 1
      }
    },
    {
      "name": "mpi_np128_16x8x1_t50000_timed",
      "based_on": "mpi_np1_1x1x1_t50000_timed",
      "machines": ["gollum32"],
      "required_resources": ["33", "34", "35", "36"],
      "additional_files": ["myhostfile128"],
      "mpi_options": [
          "-report-bindings",
          "-hostfile myhostfile128",
          "-np 128"
      ],
      "type": "mpi/custom",
      "variables": {
          "LB": 1,
          "LB_DIM": "xy",
          "XPROC": 16,
          "YPROC": 8,
          "ZPROC": 1
      }
    }
  ]
}
