{
  "runs": [
    {
      "name" : "elastic_2_spheres_hooke_glass",
      "input_script" : "in.elastic_normal_impact_2_spheres",
      "type" : "serial",
      "variables" : {
        "NORMALMODEL" : "hooke",
        "TANGENTIALMODEL" : "incremental_history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "on",
        "YOUNG" : 4.8e10,
        "POISSON" : 0.20,
        "DENSITY" : 2800
      },
      "post_scripts" : ["processData.m"],
      "data" : {
          "series" : [
            {"name" : "displace", "file" : "force_displacement.txt", "columns" : ["deltan", "Fn"]},
            {"name" : "time", "file" : "force_time.txt", "columns" : ["usec", "Fn"]}
          ],
          "plots" : [
            {"name" : "displacedelta", "title" : "Normal force-displacement", "xdata" : "displace.deltan", "ydata" : ["displace.Fn"], "xlabel" : "Normal contact displacement [um]", "ylabel" : "Normal contact force [kN]", "legend" : ["Fn"]}
            {"name" : "forcetime", "title" : "Normal force-time", "xdata" : "time.usec", "ydata" : ["time.Fn"], "xlabel" : "Time [us]", "ylabel" : "Normal contact force [kN]", "legend" : ["Fn"]}
          ]
      }
    },
    {
      "name" : "elastic_2_spheres_hooke_limestone",
      "based_on": "elastic_2_spheres_hooke_glass",
      "variables" : {
        "NORMALMODEL" : "hooke",
        "TANGENTIALMODEL" : "incremental_history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "on",
        "YOUNG" : 2.0e10,
        "POISSON" : 0.25,
        "DENSITY" : 2500
      }
    },
    {
      "name" : "elastic_2_spheres_hertz_glass",
      "based_on": "elastic_2_spheres_hooke_glass",
      "variables" : {
        "NORMALMODEL" : "hertz",
        "TANGENTIALMODEL" : "incremental_history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "on",
        "YOUNG" : 4.8e10,
        "POISSON" : 0.20,
        "DENSITY" : 2800
      }
    },
    {
      "name" : "elastic_2_spheres_hertz_limestone",
      "based_on": "elastic_2_spheres_hooke_glass",
      "variables" : {
        "NORMALMODEL" : "hertz",
        "TANGENTIALMODEL" : "incremental_history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "on",
        "YOUNG" : 2.0e10,
        "POISSON" : 0.25,
        "DENSITY" : 2500
      }
    }
  ]
}
