{
  "runs": [
    {
      "name" : "elastic_sphere_plane_hooke_Al_alloy",
      "input_script" : "in.elastic_normal_impact_sphere_plane",
      "type" : "serial",
      "variables" : {
        "NORMALMODEL" : "hooke",
        "TANGENTIALMODEL" : "incremental_history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "on",
        "YOUNG" : 14.0e10,
        "POISSON" : 0.30,
        "DENSITY" : 2699
      },
      "post_scripts" : ["processData.m"],
      "data" : {
          "series" : [
            {"name" : "displace", "file" : "force_displacement.txt", "columns" : ["deltan", "Fn"]},
            {"name" : "time", "file" : "force_time.txt", "columns" : ["usec", "Fn"]}
          ],
          "plots" : [
            {"name" : "displacedelta", "title" : "Normal force-displacement", "xdata" : "displace.deltan", "ydata" : ["displace.Fn"], "xlabel" : "Normal contact displacement [um]", "ylabel" : "Normal contact force [kN]", "legend" : ["Fn"]},
            {"name" : "forcetime", "title" : "Normal force-time", "xdata" : "time.usec", "ydata" : ["time.Fn"], "xlabel" : "Time [us]", "ylabel" : "Normal contact force [kN]", "legend" : ["Fn"]}
          ]
      }
    },
    {
      "name" : "elastic_sphere_plane_hooke_Mg_alloy",
      "based_on": "elastic_sphere_plane_hooke_Al_alloy",
      "variables" : {
        "NORMALMODEL" : "hooke",
        "TANGENTIALMODEL" : "incremental_history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "on",
        "YOUNG" : 8.0e10,
        "POISSON" : 0.35,
        "DENSITY" : 1800
      }
    },
    {
      "name" : "elastic_sphere_plane_hertz_Al_alloy",
      "based_on": "elastic_sphere_plane_hooke_Al_alloy",
      "variables" : {
        "NORMALMODEL" : "hertz",
        "TANGENTIALMODEL" : "incremental_history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "on",
        "YOUNG" : 14.0e10,
        "POISSON" : 0.30,
        "DENSITY" : 2699
      }
    },
    {
      "name" : "elastic_sphere_plane_hertz_Mg_alloy",
      "based_on": "elastic_sphere_plane_hooke_Al_alloy",
      "variables" : {
        "NORMALMODEL" : "hertz",
        "TANGENTIALMODEL" : "incremental_history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "on",
        "YOUNG" : 8.0e10,
        "POISSON" : 0.35,
        "DENSITY" : 1800
      }
    }
  ]
}
