{
  "runs": [
    {
      "name" : "two_spheres_hooke_history_Al_alloy",
      "input_script" : "in.impact_2_spheres",
      "type" : "serial",
      "variables" : {
        "NORMALMODEL" : "hooke",
        "TANGENTIALMODEL" : "history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "YOUNG" : 7.0e10,
        "POISSON" : 0.33,
        "DENSITY" : 2700
      },
      "data" : {
          "series" : [
            {"name" : "rebound", "file" : "hooke_rebound_properties.txt", "columns" : ["omegain", "omegare", "vyre"]}
          ],
          "plots" : [
            {"name" : "tangentialvel", "title" : "Tangential rebound velocity", "xdata" : "rebound.omegain", "ydata" : ["rebound.vyre"], "xlabel" : "omegax", "ylabel" : "vy_com", "legend" : ["vycom"]},
            {"name" : "reboundomega", "title" : "Rebound angular velocity", "xdata" : "rebound.omegain", "ydata" : ["rebound.omegare"], "xlabel" : "omegax", "ylabel" : "rebound omegax", "legend" : ["omegax"]}
          ]
      }
    },
    {
      "name" : "two_spheres_hertz_history_Al_alloy",
      "input_script" : "in.impact_2_spheres",
      "type" : "serial",
      "variables" : {
        "NORMALMODEL" : "hertz",
        "TANGENTIALMODEL" : "history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "YOUNG" : 7.0e10,
        "POISSON" : 0.33,
        "DENSITY" : 2700
      },
      "data" : {
          "series" : [
            {"name" : "rebound", "file" : "hertz_rebound_properties.txt", "columns" : ["omegain", "omegare", "vyre"]}
          ],
          "plots" : [
            {"name" : "tangentialvel", "title" : "Tangential rebound velocity", "xdata" : "rebound.omegain", "ydata" : ["rebound.vyre"], "xlabel" : "omegax", "ylabel" : "vy_com", "legend" : ["vycom"]},
            {"name" : "reboundomega", "title" : "Rebound angular velocity", "xdata" : "rebound.omegain", "ydata" : ["rebound.omegare"], "xlabel" : "omegax", "ylabel" : "rebound omegax", "legend" : ["omegax"]}
          ]
      }
    },
    {
      "name" : "two_spheres_hooke_incremental_history_Al_alloy",
      "based_on": "two_spheres_hooke_history_Al_alloy",
      "variables" : {
        "NORMALMODEL" : "hooke",
        "TANGENTIALMODEL" : "incremental_history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "YOUNG" : 7.0e10,
        "POISSON" : 0.33,
        "DENSITY" : 2700
      }
    },
    {
      "name" : "two_spheres_hertz_incremental_history_Al_alloy",
      "based_on": "two_spheres_hertz_history_Al_alloy",
      "variables" : {
        "NORMALMODEL" : "hertz",
        "TANGENTIALMODEL" : "incremental_history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "YOUNG" : 7.0e10,
        "POISSON" : 0.33,
        "DENSITY" : 2700
      }
    },
    {
      "name" : "two_spheres_hooke_incremental_history_copper",
      "based_on": "two_spheres_hooke_incremental_history_Al_alloy",
      "variables" : {
        "NORMALMODEL" : "hooke",
        "TANGENTIALMODEL" : "incremental_history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "YOUNG" : 1.2e11,
        "POISSON" : 0.35,
        "DENSITY" : 8900
      }
    },
    {
      "name" : "two_spheres_hertz_incremental_history_copper",
      "based_on": "two_spheres_hertz_incremental_history_Al_alloy",
      "variables" : {
        "NORMALMODEL" : "hertz",
        "TANGENTIALMODEL" : "incremental_history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "YOUNG" : 1.2e11,
        "POISSON" : 0.35,
        "DENSITY" : 8900
      }
    }
  ]
}
