{
  "runs": [
    {
      "name" : "openmp_nt8_init",
      "input_script" : "in_omp.mixer_init",
      "type" : "serial",
      "variables" : { "INSERT_TIMESTEPS" : 50000, "TOTAL_TIMESTEPS" : 100000,
                      "XPROC" : 1, "YPROC" : 1, "ZPROC" : 1, "IJK" : "xyz",
                      "NTHREADS" : 8 }
    },
    {
      "name": "hybrid_np2_nt8_2x1x1_x_t50000_timed",
      "additional_files": [
          "myrankfile",
          "myhostfile"
      ],
      "depends_on": "openmp_nt8_init",
      "input_script": "in_omp.mixer_run",
      "machines": [
          "gollum32"
      ],
      "mpi_options": [
          "-report-bindings",
          "-hostfile myhostfile",
          "-np 2",
          "-rf myrankfile"
      ],
      "required_resources": [
          "33"
      ],
      "type": "mpi/custom",
      "variables": {
          "IJK": "xyz",
          "INSERT_TIMESTEPS": 50000,
          "LB": 1,
          "LB_DIM": "x",
          "NTHREADS": 8,
          "TOTAL_TIMESTEPS": 100000,
          "XPROC": 2,
          "YPROC": 1,
          "ZPROC": 1
      }
    },
    {
      "name": "hybrid_np4_nt8_4x1x1_x_t50000_timed",
      "based_on": "hybrid_np2_nt8_2x1x1_x_t50000_timed",
      "mpi_options": [
          "-report-bindings",
          "-hostfile myhostfile",
          "-np 4",
          "-rf myrankfile"
      ],
      "variables": {
          "XPROC": 4,
          "YPROC": 1,
          "ZPROC": 1
      }
    },
    {
      "name": "hybrid_np4_nt8_2x2x1_x_t50000_timed",
      "based_on": "hybrid_np2_nt8_2x1x1_x_t50000_timed",
      "mpi_options": [
          "-report-bindings",
          "-hostfile myhostfile",
          "-np 4",
          "-rf myrankfile"
      ],
      "variables": {
          "XPROC": 2,
          "YPROC": 2,
          "ZPROC": 1
      }
    },
    {
      "name": "hybrid_np8_nt8_8x1x1_x_t50000_timed",
      "based_on": "hybrid_np2_nt8_2x1x1_x_t50000_timed",
      "mpi_options": [
          "-report-bindings",
          "-hostfile myhostfile",
          "-np 8",
          "-rf myrankfile"
      ],
      "required_resources": [
          "33",
          "34"
      ],
      "type": "mpi/custom",
      "variables": {
          "LB": 1,
          "LB_DIM": "x",
          "NTHREADS": 8,
          "XPROC": 8,
          "YPROC": 1,
          "ZPROC": 1
      }
    },
    {
      "name": "hybrid_np8_nt8_4x2x1_x_t50000_timed",
      "based_on": "hybrid_np8_nt8_8x1x1_x_t50000_timed",
      "variables": {
          "LB": 1,
          "LB_DIM": "x",
          "NTHREADS": 8,
          "XPROC": 4,
          "YPROC": 2,
          "ZPROC": 1
      }
    },
    {
      "name": "hybrid_np2_nt8_2x1x1_x_t50000_timed_node34",
      "based_on": "hybrid_np2_nt8_2x1x1_x_t50000_timed",
      "additional_files": [
          "myrankfile.reversed",
          "myhostfile.reversed"
      ],
      "mpi_options": [
          "-report-bindings",
          "-hostfile myhostfile.reversed",
          "-np 2",
          "-rf myrankfile.reversed"
      ],
      "required_resources": [
          "34"
      ]
    },
    {
      "name": "hybrid_np4_nt4_4x1x1_x_t50000_timed_node34",
      "based_on": "hybrid_np2_nt8_2x1x1_x_t50000_timed",
      "additional_files": [
          "myrankfile.reversed",
          "myhostfile.reversed"
      ],
      "mpi_options": [
          "-report-bindings",
          "-hostfile myhostfile.reversed",
          "-np 4",
          "-rf myrankfile.reversed"
      ],
      "required_resources": [
          "34"
      ],
      "variables": {
          "LB": 1,
          "LB_DIM": "x",
          "NTHREADS": 4,
          "XPROC": 4,
          "YPROC": 1,
          "ZPROC": 1
      }
    },
    {
      "name": "hybrid_np4_nt8_4x1x1_x_t50000_timed_node34",
      "based_on": "hybrid_np4_nt8_4x1x1_x_t50000_timed",
      "additional_files": [
          "myrankfile.reversed",
          "myhostfile.reversed"
      ],
      "mpi_options": [
          "-report-bindings",
          "-hostfile myhostfile.reversed",
          "-np 4",
          "-rf myrankfile.reversed"
      ],
      "required_resources": [
          "34"
      ]
    },
    {
      "name": "hybrid_np4_nt8_2x2x1_x_t50000_timed_node34",
      "based_on": "hybrid_np4_nt8_2x2x1_x_t50000_timed",
      "additional_files": [
          "myrankfile.reversed",
          "myhostfile.reversed"
      ],
      "mpi_options": [
          "-report-bindings",
          "-hostfile myhostfile.reversed",
          "-np 4",
          "-rf myrankfile.reversed"
      ],
      "required_resources": [
          "34"
      ]
    },
    {
      "name": "hybrid_np4_nt8_1x4x1_y_t50000_timed_node34",
      "based_on": "hybrid_np4_nt8_2x2x1_x_t50000_timed",
      "additional_files": [
          "myrankfile.reversed",
          "myhostfile.reversed"
      ],
      "mpi_options": [
          "-report-bindings",
          "-hostfile myhostfile.reversed",
          "-np 4",
          "-rf myrankfile.reversed"
      ],
      "required_resources": [
          "34"
      ],
      "variables": {
          "LB": 1,
          "LB_DIM": "y",
          "NTHREADS": 8,
          "XPROC": 1,
          "YPROC": 4,
          "ZPROC": 1
      }
    },
    {
      "name": "hybrid_np8_nt4_8x1x1_x_t50000_timed_node34",
      "based_on": "hybrid_np4_nt8_2x2x1_x_t50000_timed",
      "additional_files": [
          "myrankfile.reversed8",
          "myhostfile.reversed8"
      ],
      "mpi_options": [
          "-report-bindings",
          "-hostfile myhostfile.reversed8",
          "-np 8",
          "-rf myrankfile.reversed8"
      ],
      "required_resources": [
          "34"
      ],
      "variables": {
          "LB": 1,
          "LB_DIM": "x",
          "NTHREADS": 4,
          "XPROC": 8,
          "YPROC": 1,
          "ZPROC": 1
      }
    },
    {
      "name": "hybrid_np2_nt2_2x1x1_x_t50000_timed_node34",
      "depends_on": "openmp_nt8_init",
      "input_script": "in_omp.mixer_run",
      "machines": [
          "gollum32"
      ],
      "type": "mpi",
      "nprocs" : 2,
      "variables": {
          "IJK": "xyz",
          "INSERT_TIMESTEPS": 50000,
          "LB": 1,
          "LB_DIM": "x",
          "NTHREADS": 2,
          "TOTAL_TIMESTEPS": 100000,
          "XPROC": 2,
          "YPROC": 1,
          "ZPROC": 1
      }
    },
    {
      "name": "hybrid_np2_nt4_2x1x1_x_t50000_timed_node34",
      "depends_on": "openmp_nt8_init",
      "input_script": "in_omp.mixer_run",
      "machines": [
          "gollum32"
      ],
      "type": "mpi",
      "nprocs" : 2,
      "variables": {
          "IJK": "xyz",
          "INSERT_TIMESTEPS": 50000,
          "LB": 1,
          "LB_DIM": "x",
          "NTHREADS": 4,
          "TOTAL_TIMESTEPS": 100000,
          "XPROC": 2,
          "YPROC": 1,
          "ZPROC": 1
      }
    },
    {
      "name": "hybrid_np4_nt2_4x1x1_x_t50000_timed_node34",
      "depends_on": "openmp_nt8_init",
      "input_script": "in_omp.mixer_run",
      "machines": [
          "gollum32"
      ],
      "type": "mpi",
      "nprocs" : 4,
      "variables": {
          "IJK": "xyz",
          "INSERT_TIMESTEPS": 50000,
          "LB": 1,
          "LB_DIM": "x",
          "NTHREADS": 2,
          "TOTAL_TIMESTEPS": 100000,
          "XPROC": 4,
          "YPROC": 1,
          "ZPROC": 1
      }
    },
    {
      "name": "hybrid_np12_nt8_12x1x1_x_t50000_timed",
      "based_on": "hybrid_np2_nt8_2x1x1_x_t50000_timed",
      "additional_files": [
          "myrankfile",
          "myhostfile128"
      ],
      "mpi_options": [
          "-report-bindings",
          "-hostfile myhostfile128",
          "-np 12",
          "-rf myrankfile"
      ],
      "required_resources": [
          "33",
          "34",
          "35"
      ],
      "type": "mpi/custom",
      "variables": {
          "LB": 1,
          "LB_DIM": "x",
          "NTHREADS": 8,
          "XPROC": 12,
          "YPROC": 1,
          "ZPROC": 1
      }
    },
    {
      "name": "hybrid_np12_nt8_4x3x1_xy_t50000_timed",
      "based_on": "hybrid_np2_nt8_2x1x1_x_t50000_timed",
      "additional_files": [
          "myrankfile",
          "myhostfile128"
      ],
      "mpi_options": [
          "-report-bindings",
          "-hostfile myhostfile128",
          "-np 12",
          "-rf myrankfile"
      ],
      "required_resources": [
          "33",
          "34",
          "35"
      ],
      "type": "mpi/custom",
      "variables": {
          "LB": 1,
          "LB_DIM": "xy",
          "NTHREADS": 8,
          "XPROC": 4,
          "YPROC": 3,
          "ZPROC": 1
      }
    },
    {
      "name": "hybrid_np16_nt8_16x1x1_x_t50000_timed",
      "based_on": "hybrid_np2_nt8_2x1x1_x_t50000_timed",
      "additional_files": [
          "myrankfile",
          "myhostfile128"
      ],
      "mpi_options": [
          "-report-bindings",
          "-hostfile myhostfile128",
          "-np 16",
          "-rf myrankfile"
      ],
      "required_resources": [
          "33",
          "34",
          "35",
          "36"
      ],
      "type": "mpi/custom",
      "variables": {
          "LB": 1,
          "LB_DIM": "xy",
          "NTHREADS": 8,
          "XPROC": 16,
          "YPROC": 1,
          "ZPROC": 1
      }
    },
    {
      "name": "hybrid_np16_nt8_8x2x1_x_t50000_timed",
      "based_on": "hybrid_np2_nt8_2x1x1_x_t50000_timed",
      "additional_files": [
          "myrankfile",
          "myhostfile128"
      ],
      "mpi_options": [
          "-report-bindings",
          "-hostfile myhostfile128",
          "-np 16",
          "-rf myrankfile"
      ],
      "required_resources": [
          "33",
          "34",
          "35",
          "36"
      ],
      "type": "mpi/custom",
      "variables": {
          "LB": 1,
          "LB_DIM": "xy",
          "NTHREADS": 8,
          "XPROC": 8,
          "YPROC": 2,
          "ZPROC": 1
      }
    },
    {
      "name": "hybrid_np16_nt8_4x4x1_x_t50000_timed",
      "based_on": "hybrid_np2_nt8_2x1x1_x_t50000_timed",
      "additional_files": [
          "myrankfile",
          "myhostfile128"
      ],
      "mpi_options": [
          "-report-bindings",
          "-hostfile myhostfile128",
          "-np 16",
          "-rf myrankfile"
      ],
      "required_resources": [
          "33",
          "34",
          "35",
          "36"
      ],
      "type": "mpi/custom",
      "variables": {
          "LB": 1,
          "LB_DIM": "xy",
          "NTHREADS": 8,
          "XPROC": 4,
          "YPROC": 4,
          "ZPROC": 1
      }
    }
  ]
}
