{ "runs" : [
    {
      "name" : "prepare_1500k",
      "input_script" : "in.funnel_init",
      "type" : "mpi",
      "nprocs" : 8,
      "variables" : { "PROCX" : 1, "PROCY" : 1, "PROCZ" : 8, "NPARTICLES" : 1500000, "LB" : 1 }
    },
    {
      "name" : "mpi_1500k_np1_1x1x1_t100000",
      "depends_on" : "prepare_1500k",
      "input_script": "in.funnel_run",
      "nprocs": 1,
      "type": "mpi",
      "variables": {
          "LB": 0,
          "LB_DIM": "xyz",
          "NPARTICLES": 1500000,
          "PROCX": 1,
          "PROCY": 1,
          "PROCZ": 1,
          "TIMESTEPS" : 100000
      }
    },
    {
      "name"     : "mpi_1500k_np2_1x1x2_t100000",
      "based_on" : "mpi_1500k_np1_1x1x1_t100000",
      "nprocs": 2,
      "variables": {
          "LB": 1,
          "LB_DIM" : "z",
          "PROCX": 1,
          "PROCY": 1,
          "PROCZ": 2
      }
    },
    {
      "name"     : "mpi_1500k_np2_2x1x1_t100000",
      "based_on" : "mpi_1500k_np1_1x1x1_t100000",
      "nprocs": 2,
      "variables": {
          "LB": 1,
          "LB_DIM": "x",
          "PROCX": 2,
          "PROCY": 1,
          "PROCZ": 1
      }
    },
    {
      "name"     : "mpi_1500k_np2_1x2x1_t100000",
      "based_on" : "mpi_1500k_np1_1x1x1_t100000",
      "nprocs": 2,
      "variables": {
          "LB": 1,
          "LB_DIM": "y",
          "PROCX": 1,
          "PROCY": 2,
          "PROCZ": 1
      }
    },
    {
      "name"     : "mpi_1500k_np4_1x1x4_t100000",
      "based_on" : "mpi_1500k_np1_1x1x1_t100000",
      "nprocs": 4,
      "variables": {
          "LB": 1,
          "LB_DIM": "z",
          "PROCX": 1,
          "PROCY": 1,
          "PROCZ": 4
      }
    },
    {
      "name"     : "mpi_1500k_np4_2x1x2_t100000",
      "based_on" : "mpi_1500k_np1_1x1x1_t100000",
      "nprocs": 4,
      "variables": {
          "LB": 1,
          "LB_DIM": "xz",
          "PROCX": 2,
          "PROCY": 1,
          "PROCZ": 2
      }
    },
    {
      "name"     : "mpi_1500k_np4_4x1x1_t100000",
      "based_on" : "mpi_1500k_np1_1x1x1_t100000",
      "nprocs": 4,
      "variables": {
          "LB": 1,
          "LB_DIM": "x",
          "PROCX": 4,
          "PROCY": 1,
          "PROCZ": 1
      }
    },
    {
      "name"     : "mpi_1500k_np8_1x1x8_t100000",
      "based_on" : "mpi_1500k_np1_1x1x1_t100000",
      "nprocs": 8,
      "variables": {
          "LB": 1,
          "LB_DIM": "z",
          "PROCX": 1,
          "PROCY": 1,
          "PROCZ": 8
      }
    },
    {
      "name"     : "mpi_1500k_np8_2x2x2_t100000",
      "based_on" : "mpi_1500k_np1_1x1x1_t100000",
      "nprocs": 8,
      "variables": {
          "LB": 1,
          "LB_DIM": "z",
          "PROCX": 2,
          "PROCY": 2,
          "PROCZ": 2
      }
    },
    {
      "name"     : "mpi_1500k_np8_2x1x4_t100000",
      "based_on" : "mpi_1500k_np1_1x1x1_t100000",
      "nprocs": 8,
      "variables": {
          "LB": 1,
          "LB_DIM": "z",
          "PROCX": 2,
          "PROCY": 1,
          "PROCZ": 4
      }
    },
    {
      "name"     : "mpi_1500k_np8_4x1x2_t100000",
      "based_on" : "mpi_1500k_np1_1x1x1_t100000",
      "nprocs": 8,
      "variables": {
          "LB": 1,
          "LB_DIM": "z",
          "PROCX": 4,
          "PROCY": 1,
          "PROCZ": 2
      }
    },
    {
      "name"     : "mpi_1500k_np8_4x2x1_t100000",
      "based_on" : "mpi_1500k_np1_1x1x1_t100000",
      "nprocs": 8,
      "variables": {
          "LB": 1,
          "LB_DIM": "xy",
          "PROCX": 4,
          "PROCY": 2,
          "PROCZ": 1
      }
    },
    {
      "name"     : "mpi_1500k_np16_2x2x4_t100000",
      "based_on" : "mpi_1500k_np1_1x1x1_t100000",
      "machines" : ["gollum32"],
      "nprocs": 16,
      "variables": {
          "LB": 1,
          "LB_DIM": "z",
          "PROCX": 2,
          "PROCY": 2,
          "PROCZ": 4
      }
    },
    {
      "name"     : "mpi_1500k_np16_4x2x2_t100000",
      "based_on" : "mpi_1500k_np1_1x1x1_t100000",
      "machines" : ["gollum32"],
      "nprocs": 16,
      "variables": {
          "LB": 1,
          "LB_DIM": "xz",
          "PROCX": 4,
          "PROCY": 2,
          "PROCZ": 2
      }
    },
    {
      "name"     : "mpi_1500k_np16_2x1x8_t100000",
      "based_on" : "mpi_1500k_np1_1x1x1_t100000",
      "machines" : ["gollum32"],
      "nprocs": 16,
      "variables": {
          "LB": 1,
          "LB_DIM": "xz",
          "PROCX": 2,
          "PROCY": 1,
          "PROCZ": 8
      }
    },
    {
      "name"     : "mpi_1500k_np16_8x1x2_t100000",
      "based_on" : "mpi_1500k_np1_1x1x1_t100000",
      "machines" : ["gollum32"],
      "nprocs": 16,
      "variables": {
          "LB": 1,
          "LB_DIM": "xz",
          "PROCX": 8,
          "PROCY": 1,
          "PROCZ": 2
      }
    },
    {
      "name"     : "mpi_1500k_np32_4x4x2_t100000",
      "based_on" : "mpi_1500k_np1_1x1x1_t100000",
      "machines" : ["gollum32"],
      "nprocs": 32,
      "variables": {
          "LB": 1,
          "LB_DIM": "xyz",
          "PROCX": 4,
          "PROCY": 4,
          "PROCZ": 2
      }
    },
    {
      "name"     : "mpi_1500k_np32_2x2x8_t100000",
      "based_on" : "mpi_1500k_np1_1x1x1_t100000",
      "machines" : ["gollum32"],
      "nprocs": 32,
      "variables": {
          "LB": 1,
          "LB_DIM": "z",
          "PROCX": 2,
          "PROCY": 2,
          "PROCZ": 8
      }
    },
    {
      "name"     : "mpi_1500k_np32_4x2x4_t100000",
      "based_on" : "mpi_1500k_np1_1x1x1_t100000",
      "machines" : ["gollum32"],
      "nprocs": 32,
      "variables": {
          "LB": 1,
          "LB_DIM": "xz",
          "PROCX": 4,
          "PROCY": 2,
          "PROCZ": 4
      }
    },
    {
      "name" : "mpi_1500k_np64_4x2x8_z_t100000",
      "based_on" : "mpi_1500k_np1_1x1x1_t100000",
      "additional_files": ["myhostfile64"],
      "machines": ["gollum32"],
      "mpi_options": [
          "-report-bindings",
          "-hostfile myhostfile64",
          "-np 64"
      ],
      "nprocs": 32,
      "required_resources": ["33", "34"],
      "type": "mpi/custom",
      "variables": {
          "LB": 1,
          "LB_DIM": "xyz",
          "PROCX": 4,
          "PROCY": 2,
          "PROCZ": 8
      }
    },
    {
      "name" : "mpi_1500k_np64_4x2x8_xyz_t100000",
      "based_on" : "mpi_1500k_np64_4x2x8_z_t100000",
      "variables": {
          "LB": 1,
          "LB_DIM": "xyz",
          "PROCX": 4,
          "PROCY": 2,
          "PROCZ": 8
      }
    },
    {
      "name" : "mpi_1500k_np64_4x2x8_xz_t100000",
      "based_on" : "mpi_1500k_np64_4x2x8_z_t100000",
      "variables": {
          "LB": 1,
          "LB_DIM": "xz",
          "PROCX": 4,
          "PROCY": 2,
          "PROCZ": 8
      }
    },
    {
      "name" : "mpi_1500k_np64_4x4x4_xyz_t100000",
      "based_on" : "mpi_1500k_np64_4x2x8_z_t100000",
      "variables": {
          "LB": 1,
          "LB_DIM": "xyz",
          "PROCX": 4,
          "PROCY": 4,
          "PROCZ": 4
      }
    },
    {
      "name" : "mpi_1500k_np96_4x3x8_xyz_t100000",
      "based_on" : "mpi_1500k_np1_1x1x1_t100000",
      "additional_files": ["myhostfile128"],
      "machines": ["gollum32"],
      "mpi_options": [
          "-report-bindings",
          "-hostfile myhostfile128",
          "-np 96"
      ],
      "required_resources": ["33", "34", "35"],
      "type": "mpi/custom",
      "variables": {
          "LB": 1,
          "LB_DIM": "xyz",
          "PROCX": 4,
          "PROCY": 3,
          "PROCZ": 8
      }
    },
    {
      "name" : "mpi_1500k_np128_4x4x8_xyz_t100000",
      "based_on" : "mpi_1500k_np1_1x1x1_t100000",
      "additional_files": ["myhostfile128"],
      "machines": ["gollum32"],
      "mpi_options": [
          "-report-bindings",
          "-hostfile myhostfile128",
          "-np 128"
      ],
      "required_resources": ["33", "34", "35"],
      "type": "mpi/custom",
      "variables": {
          "LB": 1,
          "LB_DIM": "xyz",
          "PROCX": 4,
          "PROCY": 4,
          "PROCZ": 8
      }
    }
  ]
}
