{
  "runs": [
    {
      "name" : "two_spheres_heat_conduction",
      "input_script" : "in.heat_conduction",
      "type" : "serial",
      "data" : {
          "series" : [
            {"name" : "heat", "file" : "Temp.dat", "columns" : ["time", "T1", "T1analytic", "T2", "T2analytic"]}
          ],
          "plots" : [
            {"name" : "temperature", "title" : "Particle temperature", "xdata" : "heat.time", "ydata" : ["heat.T1","heat.T2","heat.T1analytic","heat.T2analytic"], "xlabel" : "Time [s]", "ylabel" : "T [K]", "legend" : ["Tp1","Tp2","Tp1 (analytic)","Tp2 (analytic)"]}
          ]
      }
    }
  ]
}
