{
  "runs": [
    {
      "name" : "mpi_np2",
      "input_script" : "in.repose",
      "type" : "mpi",
      "nprocs" : 2,
      "post_scripts" : ["readLogData.m", "plotData.m"],
      "data" : {
          "series" : [
            {"name" : "energy", "file" : "tc3_plot_1.txt", "columns" : ["t", "ke", "rke"]}
          ],
          "plots" : [
            {"name" : "energy", "title" : "Kinetic Energy", "xdata" : "energy.t", "ydata" : ["energy.ke","energy.rke"], "yAxisType" : "logarithmic", "xlabel" : "time [s]", "ylabel" : "energy [J]", "legend" : ["kinetic energy","rotational kinetic energy"]}
          ]
      }
    }
  ]
}
