{
  "runs": [
    {
      "name" : "serial",
      "input_script" : "in.servoWall",
      "type" : "serial",
      "post_scripts" : ["plotForce.m"],
      "data" : {
          "series" : [
            {"name" : "position", "file" : "pos1.txt", "columns" : ["t", "position"]},
            {"name" : "velocity", "file" : "vel1.txt", "columns" : ["t", "velocity"]},
            {"name" : "forceZ", "file" : "forceZ1.txt", "columns" : ["t", "forceZ"]},
            {"name" : "torqueZ", "file" : "torqueZ2.txt", "columns" : ["t", "torqueZ"]}
          ],
          "plots" : [
            {"name" : "position", "title" : "Position", "xdata" : "position.t", "ydata" : ["position.position"], "xlabel" : "time [s]", "ylabel" : "position [m]", "legend" : ["position (plate)"]},
            {"name" : "velocity", "title" : "Velocity", "xdata" : "velocity.t", "ydata" : ["velocity.velocity"], "xlabel" : "time [s]", "ylabel" : "velocity [m/s]", "legend" : ["velocity (plate)"]},
            {"name" : "forceZ", "title" : "Force in z-direction", "xdata" : "forceZ.t", "ydata" : ["forceZ.forceZ"], "xlabel" : "time [s]", "ylabel" : "force_z [N]", "legend" : ["forceZ (plate)"]},
            {"name" : "torqueZ", "title" : "Torque", "xdata" : "torqueZ.t", "ydata" : ["torqueZ.torqueZ"], "xlabel" : "time [s]", "ylabel" : "torque_z [Nm]", "legend" : ["torqueZ (rotor)"]}
          ]
      }
    }
  ]
}
