{
  "runs": [
    {
      "name" : "elastic_sphere_plane_hooke_Al_alloy",
      "input_script" : "in.inelastic_normal_impact_sphere_plane",
      "type" : "serial",
      "variables" : {
        "NORMALMODEL" : "hooke",
        "TANGENTIALMODEL" : "incremental_history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "YOUNG" : 14.0e10,
        "POISSON" : 0.30,
        "DENSITY" : 2699
      },
      "data" : {
          "series" : [
            {"name" : "restitution", "file" : "restitution_hooke_2699.txt", "columns" : ["resin", "resout"]}
          ],
          "plots" : [
            {"name" : "resinout", "title" : "Simulated vs specified restitution coeff.", "xdata" : "restitution.resin", "ydata" : ["restitution.resout"], "xlabel" : "specified COR", "ylabel" : "Simulated COR", "legend" : ["cor"]}
          ]
      }
    },
    {
      "name" : "elastic_sphere_plane_hooke_Mg_alloy",
      "input_script" : "in.inelastic_normal_impact_sphere_plane",
      "type" : "serial",
      "variables" : {
        "NORMALMODEL" : "hooke",
        "TANGENTIALMODEL" : "incremental_history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "YOUNG" : 8.0e10,
        "POISSON" : 0.35,
        "DENSITY" : 1800
      },
      "data" : {
          "series" : [
            {"name" : "restitution", "file" : "restitution_hooke_1800.txt", "columns" : ["resin", "resout"]}
          ],
          "plots" : [
            {"name" : "resinout", "title" : "Simulated vs specified restitution coeff.", "xdata" : "restitution.resin", "ydata" : ["restitution.resout"], "xlabel" : "specified COR", "ylabel" : "Simulated COR", "legend" : ["cor"]}
          ]
      }
    },
    {
      "name" : "elastic_sphere_plane_hertz_Al_alloy",
      "input_script" : "in.inelastic_normal_impact_sphere_plane",
      "type" : "serial",
      "variables" : {
        "NORMALMODEL" : "hertz",
        "TANGENTIALMODEL" : "incremental_history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "YOUNG" : 14.0e10,
        "POISSON" : 0.30,
        "DENSITY" : 2699
      },
      "data" : {
          "series" : [
            {"name" : "restitution", "file" : "restitution_hertz_2699.txt", "columns" : ["resin", "resout"]}
          ],
          "plots" : [
            {"name" : "resinout", "title" : "Simulated vs specified restitution coeff.", "xdata" : "restitution.resin", "ydata" : ["restitution.resout"], "xlabel" : "specified COR", "ylabel" : "Simulated COR", "legend" : ["cor"]}
          ]
      }
    },
    {
      "name" : "elastic_sphere_plane_hertz_Mg_alloy",
      "input_script" : "in.inelastic_normal_impact_sphere_plane",
      "type" : "serial",
      "variables" : {
        "NORMALMODEL" : "hertz",
        "TANGENTIALMODEL" : "incremental_history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "YOUNG" : 8.0e10,
        "POISSON" : 0.35,
        "DENSITY" : 1800
      },
      "data" : {
          "series" : [
            {"name" : "restitution", "file" : "restitution_hertz_1800.txt", "columns" : ["resin", "resout"]}
          ],
          "plots" : [
            {"name" : "resinout", "title" : "Simulated vs specified restitution coeff.", "xdata" : "restitution.resin", "ydata" : ["restitution.resout"], "xlabel" : "specified COR", "ylabel" : "Simulated COR", "legend" : ["cor"]}
          ]
      }
    }
  ]
}
