{
  "runs" : [
    {
      "name" : "rotary_kiln_init",
      "input_script" : "in.rotaryKiln_init",
      "type" : "serial",
      "nthreads" : 4,
      "variables" : {
        "NTHREADS" : 4
      }
    },
    {
      "name" : "rotary_kiln_run_nt4",
      "input_script" : "in.rotaryKiln_run",
      "depends_on" : "rotary_kiln_init",
      "type" : "serial",
      "nthreads" : 4,
      "variables" : {
        "NTHREADS" : 4
      }
    },
    {
      "name" : "rotary_kiln_run_np4_w_neighs",
      "input_script" : "in.rotaryKiln_run_w_neighs",
      "depends_on" : "rotary_kiln_init",
      "type" : "serial",
      "nthreads" : 4,
      "variables" : {
        "NTHREADS" : 4
      }
    }
  ]
}
