{
  "runs": [
    {
      "name" : "hourglass_ref",
      "input_script" : "in.hourglass_ref",
      "type" : "mpi",
      "nprocs" : 4
    },
    {
      "name" : "hourglass_cg",
      "input_script": "in.hourglass_cg",
      "type": "mpi",
      "nprocs": 4
    },
    {
      "name" : "hourglass_2lvl",
      "input_script": "in.hourglass_2lvl",
      "type": "mpi",
      "nprocs": 4
    }
  ]
}
