{
  "runs": [
    {
      "name" : "two_sphere_hooke_history_Al_alloy",
      "input_script" : "in.impact_2_spheres",
      "type" : "serial",
      "variables" : {
        "NORMALMODEL" : "hooke",
        "TANGENTIALMODEL" : "history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "YOUNG" : 7e10,
        "POISSON" : 0.33,
        "DENSITY" : 2700
      },
      "data" : {
          "series" : [
            {"name" : "rebound", "file" : "hooke_rebound_properties.txt", "columns" : ["beta1", "beta", "betalimit", "theta", "phi", "philimit"]}
          ],
          "plots" : [
            {"name" : "tangentialcor", "title" : "Tangential coefficient of restitution", "xdata" : "rebound.beta1", "ydata" : ["rebound.beta","rebound.betalimit"], "xlabel" : "3.5 mu (1+e_n) v_n/v_st", "ylabel" : "beta", "legend" : ["beta","betalimit"]},
            {"name" : "reboundangle", "title" : "Norm. rebound angle", "xdata" : "rebound.theta", "ydata" : ["rebound.phi","rebound.philimit"], "xlabel" : "Normalized incident angle v_s/v_n", "ylabel" : "Norm. rebound angle v_st/v_cn", "legend" : ["phi","philimit"]}
          ]
      }
    },
    {
      "name" : "two_sphere_hertz_history_Al_alloy",
      "input_script" : "in.impact_2_spheres",
      "type" : "serial",
      "variables" : {
        "NORMALMODEL" : "hertz",
        "TANGENTIALMODEL" : "history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "YOUNG" : 7e10,
        "POISSON" : 0.33,
        "DENSITY" : 2700
      },
      "data" : {
          "series" : [
            {"name" : "rebound", "file" : "hertz_rebound_properties.txt", "columns" : ["beta1", "beta", "betalimit", "theta", "phi", "philimit"]}
          ],
          "plots" : [
            {"name" : "tangentialcor", "title" : "Tangential coefficient of restitution", "xdata" : "rebound.beta1", "ydata" : ["rebound.beta","rebound.betalimit"], "xlabel" : "3.5 mu (1+e_n) v_n/v_st", "ylabel" : "beta", "legend" : ["beta","betalimit"]},
            {"name" : "reboundangle", "title" : "Norm. rebound angle", "xdata" : "rebound.theta", "ydata" : ["rebound.phi","rebound.philimit"], "xlabel" : "Normalized incident angle v_s/v_n", "ylabel" : "Norm. rebound angle v_st/v_cn", "legend" : ["phi","philimit"]}
          ]
      }
    },
    {
      "name" : "two_sphere_hooke_incremental_history_Al_alloy",
      "based_on": "two_sphere_hooke_history_Al_alloy",
      "variables" : {
        "NORMALMODEL" : "hooke",
        "TANGENTIALMODEL" : "incremental_history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "YOUNG" : 7e10,
        "POISSON" : 0.33,
        "DENSITY" : 2700
      }
    },
    {
      "name" : "two_sphere_hertz_incremental_history_Al_alloy",
      "based_on": "two_sphere_hertz_history_Al_alloy",
      "variables" : {
        "NORMALMODEL" : "hertz",
        "TANGENTIALMODEL" : "incremental_history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "YOUNG" : 7e10,
        "POISSON" : 0.33,
        "DENSITY" : 2700
      }
    },
    {
      "name" : "two_sphere_hooke_incremental_history_nylon",
      "based_on": "two_sphere_hooke_incremental_history_Al_alloy",
      "variables" : {
        "NORMALMODEL" : "hooke",
        "TANGENTIALMODEL" : "incremental_history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "YOUNG" : 2.5e9,
        "POISSON" : 0.4,
        "DENSITY" : 1000
      }
    },
    {
      "name" : "two_sphere_hertz_incremental_history_nylon",
      "based_on": "two_sphere_hertz_incremental_history_Al_alloy",
      "variables" : {
        "NORMALMODEL" : "hertz",
        "TANGENTIALMODEL" : "incremental_history",
        "MODELOPTION" : "limitForce",
        "MODELOPTIONSETTING" : "off",
        "YOUNG" : 2.5e9,
        "POISSON" : 0.4,
        "DENSITY" : 1000
      }
    }
  ]
}
