{
  "runs": [
    {
      "name" : "serial",
      "input_script" : "in.6dof",
      "type" : "serial",
      "data" : {
          "series" : [
            {"name" : "mesh", "file" : "mesh6dof.txt", "columns" : ["t", "Fx", "Fy", "Fz", "Tx", "Ty", "Tz"]}
          ],
          "plots" : [
            {"name" : "meshforce", "title" : "Force", "xdata" : "mesh.t", "ydata" : ["mesh.Fx","mesh.Fy","mesh.Fz"], "xlabel" : "time [s]", "ylabel" : "force [N]", "legend" : ["fx","fy","fz"]},
            {"name" : "meshtorque", "title" : "Torque", "xdata" : "mesh.t", "ydata" : ["mesh.Tx","mesh.Ty","mesh.Tz"], "xlabel" : "time [s]", "ylabel" : "torque [Nm]", "legend" : ["tx","ty","tz"]}
          ]
      }
    }
  ]
}
