{ "runs" : [
    {
      "name" : "prepare_1500k",
      "input_script" : "in.funnel_init",
      "type" : "mpi",
      "nprocs" : 8,
      "variables" : { "PROCX" : 1, "PROCY" : 1, "PROCZ" : 8, "NPARTICLES" : 1500000, "LB" : 1 }
    },
    {
      "name" : "openmp_1500k_nt1_1x1x1_t100000",
      "depends_on" : "prepare_1500k",
      "input_script": "in_omp_weights.funnel_run",
      "nprocs": 1,
      "type": "mpi",
      "variables": {
          "LB": 0,
          "LB_DIM": "xyz",
          "NPARTICLES": 1500000,
          "PROCX": 1,
          "PROCY": 1,
          "PROCZ": 1,
          "NTHREADS": 1,
          "TIMESTEPS" : 100000
      }
    },
    {
      "name"     : "openmp_1500k_nt2_1x1x1_t100000",
      "based_on" : "openmp_1500k_nt1_1x1x1_t100000",
      "variables": {
          "NTHREADS": 2
      }
    },
    {
      "name"     : "openmp_1500k_nt4_1x1x1_t100000",
      "based_on" : "openmp_1500k_nt1_1x1x1_t100000",
      "variables": {
          "NTHREADS": 4
      }
    },
    {
      "name"     : "openmp_1500k_nt8_1x1x1_t100000",
      "based_on" : "openmp_1500k_nt1_1x1x1_t100000",
      "variables": {
          "NTHREADS": 8
      }
    },
    {
      "name"     : "openmp_1500k_nt16_1x1x1_t100000",
      "based_on" : "openmp_1500k_nt1_1x1x1_t100000",
      "variables": {
          "NTHREADS": 16
      }
    },
    {
      "name"     : "openmp_1500k_nt32_1x1x1_t100000",
      "based_on" : "openmp_1500k_nt1_1x1x1_t100000",
      "variables": {
          "NTHREADS": 32
      }
    }
  ]
}
